  
{% include "utils/booter.html" %}

{% include "utils/nav.html" %}
        <br/><br/>
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/media.css">
<div class="wrap" >
    <ul class="page-nav cl" >
        <li><a href="/">首页</a></li>
        <li>></li>
        <li>传统水镇</a></li>
        <li>></li>
        <li class="active">民俗</li>
    </ul>
    <div class="clear"></div>
    <div class="introduction" >
        <h2 class="page-h2">陶瓷水镇-水镇民俗</h2>
            <div class="page-p">
                   <div class="gl1" style="padding-top:20px">
        <img src="/static/img/img/lahua2.jpg" height="600" width="1000">
    </div>
                <h2 >①井陉拉花</h2><p>井陉人民历代爱好文化艺术，各种形式的艺术因此而得以繁衍流传。“拉花艺术”是诸多民间艺术中的佼佼者，也是井陉人民最喜爱的民间舞蹈，素有“井陉拉花遍地扭”俗语。</p><p>井陉拉花类属北方秧歌，起源于明清，产生并流传于河北省井陉县境内，源于民间节日、庙会、庆典、拜神之时的街头广场花会，是一种当地特有的民间艺术形式。中华人民共和国成立后，井陉拉花经过多次挖掘、整理、发展，享誉国内外。</p>
               <p> 井陉拉花的音乐为独立乐种。既有河北吹歌的韵味，又有民歌、民间曲牌和戏曲曲牌的音调，还不乏浓厚的寺庙音乐和宫廷音乐的色彩，它的曲牌约有十几首，如“万年欢”、“春夏秋冬”、“爬山虎”、“小儿番”、“粉红莲”、“雁南飞”、“摸”、“八板”等曲牌，“八板”这个曲牌被各村拉花普遍使用，艺人称“踩着八板扭拉花。”拉花“的音乐调式多为”宫“、”徽“、”羽“调，多为 2/4或4/4的中速节奏，特色伴奏乐器有掌锣等。它古朴典雅、清爽动听、深沉美妙、刚健稳重，其风格特征是刚而不野、柔而不糜、华而不浮、悲而不泣，突出特点是节奏鲜明。与拉花舞蹈的沉稳、含蓄、刚健、豪迈风格交相辉映，乐舞融合，浑然一体，现代的井陉拉花，既保持了传统风格，又有鲜明的时代气息。阵容庞大时，气势恢宏。队伍精炼时，特点突出。舞蹈语言多姿多彩，音乐旋律扣人心弦，更具情感容量和艺术张力。</p>
                                    <p>拉花的乐器有大管、小管、膜笛、笙、龙头二胡、三弦、四股弦、敲琴、云锣、小镗子、小镲、扁鼓。管子是拉花音乐中的灵魂，起领奏作用，在乐曲中时奏时停。那种淳朴、粗犷、浑厚、略带悲怅的音色，。小管的高亢，膜笛的滑音、颤音和花点与大管互相呼应，捧笙以三度、五度和弦将乐曲珠联璧合。云锣以其清脆悦耳的问答式的轮奏，复调旋律与大管配合。小镗子、小镲按花点击拍，管、笙、笛、云锣是拉花音乐中必不可少的主奏乐器，构成拉花特有的艺术魅力以及浓郁的乡土气息。</p><div class="gl1">
                <img src="/static/img/img/lahua1.jpg" height="600" width="1000">
    </div><br/>
                <p>拉花道具繁多，多是流传在民间舞蹈中通用的道具，如彩绢、彩扇、伞、鞭、太平板等。在此基础上各种拉花均根据自身的需要而增设。如庄旺拉花货郎担，他表现的是货郎卖绒线的故事，就根据自己角色的需要而加入货郎鼓、货郎架。又如南平望“拉花”送美人，她表现的是护送美女入宫的故事，就加入化装匣以供美女梳洗打扮。拉花道具各有其象征寓意，如伞——风调雨顺；包袱——丰衣足食；太平板——四季太平；霸王鞭——文治武功；花瓶——平安美满等，传统井陉拉花表现内容主要有《六合同春》、《卖绒线》、《盼五更》、《下关东》等。其表演人数多少不等，原为4-11人，少则2人，多则不限，可百人、千人。</p>
                                    <p>井陉拉花是一种不受场地限制，即可街头、场院演出，也可登台献技，时间可长可短的群舞。它从形式上分“文拉花”（以武增录为代表的南正拉花）；“武拉花”（以郝白白为代表的南平望拉花）；有丑拉花（以吴近仁为代表的吴家垴拉花）；有俊拉花（以李树芳为代表的庄旺拉花）；有戏拉花（以魏全保为代表的南固底拉花）。文拉花文雅、端庄，柔中有刚；武拉花舒展大方，动作幅度大，稍象武术；丑拉花动作简便滑稽、幽默风趣；俊拉花扮相俊美，动作妩媚；戏拉花是古装戏剧打扮，脚蹬小木跷。井陉拉花有其显著的艺术特色，以“拧肩”、“翻腕”、“扭臂”、“吸腿”、“撇脚”等动作为主要舞蹈动律，以“花瓶”、“花伞”、“彩扇”、“霸王鞭”、“太平板”等为主要表演道具，加之可称为独立乐种的拉花音乐伴奏，形成刚柔并济，粗犷含蓄的独特艺术特色，擅于表现悲壮、凄婉、眷恋、欢悦等情绪。</p>
                                    <p>自20世纪80年代开始，井陉拉花日渐兴盛，发展迅速，应邀重大演出接连不断。中央电视台等众多新闻媒体向全国及海外多次播放、宣传、介绍井陉拉花，此后井陉拉花走出国门，先后代表河北精品艺术参加在日本鸟取县举行的国际文化交流活动和美国旧金山华人艺术节，向世界人民展示和传播中华传统民俗文化的艺术风采。</p>
                                    <p>井陉县委县政府牵线，井陉拉花艺术团与文化产业企业“联姻”，启动井陉拉花艺术风情园项目。合作企业不仅在中小学免费教授井陉拉花，还面向全社会开办了免费的拉花培训班，受训人员达千余批次。井陉拉花走出河北，参加了昆明世博会、北京国际旅游文化节、上海世博会、西安世界园博会等大型文化演出。井陉拉花艺术团每年春节井陉拉花艺术团都会赴北京参加龙潭庙会、地坛庙会、北京民俗博物馆等演出。井陉县还定期举办两年一度的“中国·井陉拉花文化艺术节”，成为井陉县招商引资、扩大影响力和打造文化产业的平台。</p>
                                    2006年5月20日，井陉拉花经国务院批准列入第一批国家级非物质文化遗产名录。</p></div>

             <div class="page-p">
                 <h2 >②井陉晋剧</h2><p style="padding-top:20px">井陉晋剧流传于石家庄市的井陉县，井陉与山西接壤，该县是千年古县、中国民间艺术之乡、中国感恩文化之乡。井陉人酷爱晋剧，十九世纪中叶，晋剧传入井陉，到二十世纪初，可谓“村村有戏楼，人人唱晋剧”，全县各村都有了晋剧戏班，这些晋剧戏班逢年过节、婚丧嫁娶都要开锣唱戏。井陉晋剧有剧目三百多个，曲牌五百余种，自创剧目在省、市连获大奖，唱段入选《中国戏曲音乐集成》，并有《火烧庆功楼》、《皇姑出家》等十六个剧目被录制成光盘出版、发行。井陉晋剧的剧本百分之八十都是自创剧目和改编剧目。井陉晋剧的五大特征，使其成为一种不同于其他任何曲种的独特戏曲品种，具有很高的社会价值、艺术价值和商业价值。</p> <div class="gl1" style="padding-top:20px;padding-bottom:20px">
        <img src="/static/img/img/jinju1.png" height="600" width="1000">
    </div>
<p style="padding-top:20px;padding-bottom:20px" >井陉晋剧在2006年被评为国家级非物质文化遗产，至今已经传承了170多年。近年来，该剧团为了更好的传承井陉晋剧，让更多群众欣赏到精彩的晋剧演出，常年深入在乡村开展文化惠民送戏下乡活动，每年给群众演出近500场次。</p></p></div>

    <div class="gl1" style="padding-bottom:20px">
        <img src="/static/img/img/jinju2.png" height="600" width="1000">
    </div>
</div>
            <div class="page-p">
                <h2 >③井陉老虎火</h2><p style="padding-top: 20px;padding-bottom: 20px">2008年6月入选第一批国家级非物质文化遗产扩展项目，最长沉寂15年。老虎火”起源于清朝康熙年间，相传为南张井一先祖在山西偷师而得，纯手工制作、安全系数高，烟火造型美观、内涵丰富，可近距离观看。
                <div class="gl1">
            <img src="/static/img/img/huo7.jpg" height="600" width="1000">
        </div>
                <p style="padding-top: 20px;padding-bottom: 10px">
                    燃放时，两人拉一人推，皆赤膊上阵，彰显太行儿女之彪悍和勇敢，有“天下奇观老虎火”之称。 </p>
                </p>
        </div>
            <div class="gl1" style="padding-bottom: 20px">
        <img src="/static/img/img/huo5.png" height="600" width="1000">
    </div>
</div>
{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}