{% include "utils/booter.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/media.css">
{% include "utils/nav.html" %}
        <br/><br/>

<div class="wrap" >
    <ul class="page-nav cl" >
        <li><a href="/">首页</a></li>
        <li>></li>
        <li>传统水镇</a></li>
        <li>></li>
        <li class="active">概述</li>
    </ul>
    <div class="clear"></div>
    <div class="introduction" >
        <h2 class="page-h2" style="text-align:center">陶瓷水镇-水镇概述</h2>
            <div class="page-p" style="padding-top:20px">
                <div class="gl1">
        <img src="/static/img/img/1.jpg" height="600" width="1000">
    </div><br/>
                <p style="text-indent:2em">陶瓷水镇南横口旅游度假区项目是集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假区，整体占地116公顷左右，规划为四个功能分区---古村落漫步休闲区、陶瓷小镇、滨水休闲娱乐区、文化展示区，总投资≥30亿。
                <br/>
                    <div class="gl1" style="padding-top:20px">
                    <img src="/static/img/img/gw5.png" height="600" width="1000">
                    </div><br/>
                    <p style="text-indent:2em">南横口利用原旧学校院落及房屋，成立了“井陉窑”研究中心，建起了陶瓷体验工作室，恢复了井陉窑生产工艺，设立了陶瓷研究室、茶社、展览馆等，建起了游客服务中心，美食一条街。每当夜幕降临，水镇的灯光映射在古村落内以及甘陶河的水面上焕发出夺目的光彩，美不胜收。</p>
                <p style="text-indent: 2em">依山傍水的南横口是中国传统村落，自隋代起，村里的陶瓷制造业不断兴盛，成为河北省四大名窑井陉窑三大片区之一</p>
                <p style="text-indent: 2em">时间的长河在这座静谧古朴的陶瓷水镇，沉淀下了许多耐人寻味的历史故事，以马家大院为代表的明清古民居以其宏大的建筑格局、独特的建筑形式和深厚的人文内涵在当地享有盛名；村中高大的“黄金匣钵墙”，更见证了当年瓷乡的沧桑。这里的一草一木、一砖一瓦，无一不在向我们诉说着这座千年古村落的悠久历史。</p></div>
        </div>
                    <div class="gl1" style="padding-bottom:30px;padding-top:20px">
                    <img src="/static/img/img/4.jpg" height="600" width="1000">
                    </div>

</div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}