<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
          rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    <!-- Global styles BEGIN -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles BEGIN -->
    <link href="/static/assets/pages/css/animate.css" rel="stylesheet">
    <link href="/static/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles BEGIN -->
    <link href="/static/assets/pages/css/components.css" rel="stylesheet">
    <link href="/static/assets/pages/css/slider.css" rel="stylesheet">
    <link href="/static/assets/onepage/css/style.css" rel="stylesheet">
    <link href="/static/assets/onepage/css/style-responsive.css" rel="stylesheet">
    <link href="/static/assets/onepage/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="/static/assets/onepage/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/menu.css">
    <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
<!-- BEGIN STYLE CUSTOMIZER -->

<!-- END BEGIN STYLE CUSTOMIZER -->

<!-- Header BEGIN -->
<div class="header header-mobi-ext">
    <div class="container">
        <div id="cssmenu" class="row" style="">
            <!-- Logo BEGIN -->
            <ul>
                <li><a href="" style="padding: 0 0">
                    <img src="/static/img/logo3.jpeg" alt="陶瓷水镇" style="height: 50px">
                </a></li>
                <!--	   <li class="active" style="margin-left: 50px"><a href="index.html"><span>陶瓷水镇</span></a></li>-->
                <li class="has-sub" style="margin-left: 50px"><a href="#"><span>传统水镇</span></a>
                    <ul>
                        <li><a href="#"><span>水镇概述</span></a></li>
                        <li><a href="#"><span>水镇渊源</span></a></li>
                        <li><a href="#"><span>水镇名人</span></a></li>
                        <li><a href="#"><span>水镇民俗</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><span>度假水镇</span></a>
                    <ul>
                        <li><a href="#"><span>住宿</span></a></li>
                        <li><a href="#"><span>美食</span></a></li>
                        <li><a href="#"><span>休闲娱乐</span></a></li>
                        <li><a href="#"><span>伴手礼</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>宣传影音</span></a></li>
                <li class="has-sub"><a href="#"><span>活动公告</span></a>
                    <ul>
                        <li><a href="#"><span>景区公告</span></a></li>
                        <li><a href="#"><span>景区活动</span></a></li>
                        <li><a href="#"><span>新闻动态</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><span>出行锦囊</span></a>
                    <ul>
                        <li><a href="#"><span>旅游攻略</span></a></li>
                        <li><a href="#"><span>景区服务</span></a></li>
                        <li><a href="#"><span>交通信息</span></a></li>
                    </ul>
                </li>
                <li lass="last"><a href='#'><span>会展</span></a></li>
            </ul>
            <!-- Navigation END -->
        </div>
    </div>
</div>
<!-- Header END -->

<!-- Promo block BEGIN -->
<div class="promo-block" id="promo-block">
    <div id="carousel-example-generic" class="carousel slide carousel-slider" style="margin-top: 50px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-one active">
                <div class="center-block">
                    <div class="center-block-wrap">
                        <div class="center-block-body">
<!--                            <h2 class="margin-bottom-20 animate-delay carousel-title-v1"-->
<!--                                data-animation="animated fadeInDown">-->
<!--                                Parallax <span class="color-red">One Page</span> has arrived-->
<!--                            </h2>-->
                            <div class="animated flipInX">
                                <div class="hidden-xs">
<!--                                    <i class="promo-like fa fa-thumbs-up"></i>-->
<!--                                    <div class="promo-like-text">-->
<!--                                        <h2>Let's just do it</h2>-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing<br> elit amet sed diam-->
<!--                                            nonummy nibh <a href="javascript:void(0);">dolore</a></p>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-two">
<!--                <h2 class="carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">-->
<!--                    Extremely <span class="color-red">Responsive</span> design-->
<!--                </h2>-->
<!--                <img class="carousel-position-two hidden-sm hidden-xs animate-delay"-->
<!--                     src="/static/assets/onepage/img/slider/Slide2_iphone_left.png" alt="Iphone"-->
<!--                     data-animation="animated fadeInUp">-->
<!--                <img class="carousel-position-three hidden-sm hidden-xs animate-delay"-->
<!--                     src="/static/assets/onepage/img/slider/Slide2_iphone_right.png" alt="Iphone"-->
<!--                     data-animation="animated fadeInUp">-->
            </div>

            <!-- Third slide -->
            <div class="item carousel-item-three">
<!--                <div class="center-block">-->
<!--                    <div class="center-block-wrap">-->
<!--                        <div class="center-block-body">-->
<!--                            <h3 class="margin-bottom-20 animate-delay carousel-title-v2"-->
<!--                                data-animation="animated fadeInDown">-->
<!--                                The clearest way into the Universe <br/> is through a forest wilderness.-->
<!--                            </h3>-->
<!--                            <span class="carousel-subtitle-v1">John Muir</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- Promo block END -->

<!-- Services block BEGIN -->
<div class="services-block content content-center" id="services">
    <div class="container">
        <h2>新闻动态</h2>
<!--        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>-->
        <div class="row news">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>井陉古村落<br> 陶瓷水镇新添红色文化主题展馆</h3>
                <a href="">了解更多</a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>陶瓷水镇：借势旅发大会 <br>千年陶瓷之乡再绽芳华</h3>
                <a href="">了解更多</a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3><span style="font-size: 17px">千年瓷韵展芳华，魅力水乡似江南</span><br>井陉陶瓷水镇民俗文化节启动</h3>
                <a href="">了解更多</a>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>
                    第四届河北省旅游产业发展大会
                    <br><span style="font-size: 16px">观摩活动在我县陶瓷水镇南横口举行</span>
                </h3>
                <a href="">了解更多</a>

            </div>
        </div>
    </div>
</div>
<!-- Services block END -->

<!-- Message block BEGIN -->
<div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
        <h2>陶瓷<strong>匠心之作</strong></h2>

    </div>
</div>
</div>
<!-- Message block END -->


<!-- Portfolio block BEGIN -->
<div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
        <h2 class="margin-bottom-50">魅力水镇</h2>
    </div>
    <div class="row">
<!--        <div class="item col-md-2 col-sm-6 col-xs-12">-->
<!--            <img src="/static/img/水上项目/s1.png" alt="NAME" class="img-responsive">-->
<!--            <a href="/static/img/水上项目/s1.png" class="zoom valign-center">-->
<!--                <div class="valign-center-elem">-->
<!--                    <strong>水上项目</strong>-->
<!--                    <em>简介</em>-->
<!--                    <b>详情</b>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
        {% for item in meili %}
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{item.path}}" alt="NAME" class="img-responsive">
            <a href="{{item.path}}" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>{{item.name}}</strong>
                    <em>{{item.jj}}</em>
                    <b>{{item.xq}}</b>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Portfolio block END -->

<!-- Checkout block END -->


<!-- Prices block BEGIN -->
<div class="prices-block content content-center" id="prices">
    <div class="container">
        <h2 class="margin-bottom-50">出行锦囊</h2>
        <div class="row">
            <!-- Pricing item BEGIN -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/lvyou.png" alt="">
                        <a class="chuxing-a" href=""><h3 class="chuxing">旅游攻略 </h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/piaowu.png" alt="">
                        <a class="chuxing-a" href=""><h3 class="chuxing">票务信息</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/dianhua.png" alt="">
                        <a class="chuxing-a" href=""><h3 class="chuxing">常用电话</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/jiaotong.png" alt="">
                        <a class="chuxing-a" href=""><h3 class="chuxing">景区交通</h3></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Prices block END -->

<!-- 合作单位 BEGIN -->
<!--<div class="partners-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/cisco.png" alt="cisco">-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/walmart.png" alt="walmart">-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/gamescast.png" alt="gamescast">-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/spinwokrx.png" alt="spinwokrx">-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/ngreen.png" alt="ngreen">-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-3 col-xs-6">-->
<!--                <img src="/static/assets/onepage/img/partners/vimeo.png" alt="vimeo">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Partners block END -->

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer" id="contact">
    <div class="container">
        <div class="row" style="border-bottom: solid 1px #3d3d47;">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col" style="padding-left: 0px">
                <h2>关于我们</h2>
            </div>
            <div class="col-md-8 col-sm-12 pre-footer-col">
                <h2>
                    <span style="border-right: 1px solid rgb(126, 128, 138);padding-right: 20px;">0932-77777777 </span>
                    <span style="padding-left: 20px;">河北省石家庄市井陉县南沟街</span>
                </h2>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px #3d3d47; margin-top: 20px; padding-bottom: 20px">
            <div class="col-md-1">
                <div class="row">
                    <p class="footer-p">传统水镇</p>
                    <a href="#"> 水镇概述</a>
                    <a href="#"> 水镇渊源</a>
                    <a href="#"> 水镇名人</a>
                    <a href="#"> 水镇民俗</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">度假水镇</p>
                    <a href="#"> 住宿</a>
                    <a href="#"> 美食</a>
                    <a href="#"> 休闲娱乐</a>
                    <a href="#"> 伴手礼</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">活动公告</p>
                    <a href="#"> 景区公告</a>
                    <a href="#"> 景区活动</a>
                    <a href="#"> 景区动态</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">出行锦囊</p>
                    <a href="#"> 旅游攻略</a>
                    <a href="#"> 景区服务</a>
                    <a href="#"> 交通信息</a>
                </div>
            </div>
        </div>
        <div class="row" style="height: 60px;line-height: 60px;">
            <div class="col-md-8 col-md-offset-2 privilege">
                <p class="privilege">
                    乌镇旅游股份有限公司©版本所有|
                    <a style="color: inherit" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">浙ICP备09047744号-6</a>
                    |
                    <a style="color: inherit" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33048302000208" target="_blank" rel="nofollow">浙公网安备33048302000208号</a>
                </p>
            </div>
        </div>

    </div>
</div>
<!-- END PRE-FOOTER -->

<!--&lt;!&ndash; BEGIN FOOTER &ndash;&gt;-->
<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; BEGIN COPYRIGHT &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4">-->
<!--                <div class="copyright">xxxx股份有限公司©版本所有</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; END COPYRIGHT &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN SOCIAL ICONS &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4">-->
<!--                <ul class="social-icons">-->
<!--                    <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; END SOCIAL ICONS &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN COPYRIGHT &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4 text-right">-->
<!--                <p class="powered"> <a style="color: inherit" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">浙ICP备09047744号-6</a>-->
<!--                    |-->
<!--                    <a style="color: inherit" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33048302000208" target="_blank" rel="nofollow">浙公网安备33048302000208号</a></p>-->
<!--            </div>-->
<!--            &lt;!&ndash; END COPYRIGHT &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- END FOOTER -->
<a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>

<!--[if lt IE 9]>
<script src="/static/assets/plugins/respond.min.js"></script>
<![endif]-->
<!-- Load JavaScripts at the bottom, because it will reduce page load time -->
<!-- Core plugins BEGIN (For ALL pages) -->
<script src="/static/assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Core plugins END (For ALL pages) -->
<!-- Core plugins BEGIN (required only for current page) -->
<script src="/static/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="/static/assets/plugins/jquery.easing.js"></script>
<script src="/static/assets/plugins/jquery.parallax.js"></script>
<script src="/static/assets/plugins/jquery.scrollTo.min.js"></script>
<script src="/static/assets/onepage/scripts/jquery.nav.js"></script>
<!-- Core plugins END (required only for current page) -->
<!-- Global js BEGIN -->
<script src="/static/assets/onepage/scripts/layout.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        Layout.init();
    });
</script>
<!-- Global js END -->
</body>
</html>