<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>陶瓷水镇旅游官网</title>
	<meta name="keywords" content="陶瓷水镇,陶瓷水镇官网,陶瓷水镇南横口">
	<meta name="description" content="陶瓷水镇位于井陉县南横口村，是井陉县重点打造的一处集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假景区。">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://image.taocishuizhen.com/mobile/images/favicon.ico">

	<!-- include main css -->
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/jquery.mmenu.all.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css"/>
	<link href="/static/mobile/font-awesome-4.5.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' media="all" />
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/animate.css"/>


</head>
<body>

<div>
	<!--header-->
	<header class="header home_p">
	   <div class="container">
		   <div class="logo">
	   	   		<a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/logo.png" alt="" /></a>
		   </div>
		   <a href="#mmenu" class="phone-nav"><i class="fa fa-list"></i></a>
		  <div class="logo_right">
		  	 <nav class="nav">
		   		<ul>
		   			<li><a href="/mobile" class="active">首页</a></li>
		   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
		   			<li><a href="/mobile/court_travel">陶瓷水镇</a>
		   				<ul>
		   					<li><a href="/mobile/court_travel">游客中心</a></li>
		   					<li><a href="/mobile/court_travel">马家大院</a></li>
		   					<li><a href="/mobile/court_travel">码头</a></li>
		   					<li><a href="/mobile/court_travel">陶瓷卖场</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="/mobile/comfortable">景区民宿</a></li>
		   			<li><a href="/mobile/news">新闻动态</a>
		   				<ul>
		   					<li><a href="/mobile/news">景区新闻</a></li>
		   					<li><a href="/mobile/news">景区活动</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
		   			<li><a href="/mobile/contact">联系我们</a></li>
		   		</ul>
		  	 </nav>
		  	 <div class="search">
		  	 	<span class="sea_x">
		  	 		<input type="" name="" id="" placeholder="请输入关键词">
		  	 		<i class="fa fa-search"></i>
		  	 	</span>
		  	 	<span class="y_z">
		  	 		<a href="" class="zh active">中</a><a href="" class="en">En</a>

		  	 	</span>
		  	 </div>
		  </div>

	   </div>
	</header>