{% include "mobile/booter.html" %}
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_com.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">景区民宿</span>
	</div>
	<div class="comfor_con">
		<div class="top_tit">
			<span class="span1"><a href="/mobile/comfortable">景区民宿</span></a><br />
			<span class="span2">COMFORTABLE RESIDENTIAL</span>
		</div>
		<div class="com_shi">
			<ul class="wow bounceIn">
				<span class="span1">毕元明先生诗云 </span><br />
				<span class="span2">毕元明</span>
				<li>水带山环旱码头，南来北往任交流。</li>
                <li>千年古驿铺林立，六塞新村窑栉稠。</li>
				<li>影壁盔墙祁子墨，秦砖汉瓦马家楼。</li>
				<li>梨花柳叶春风度，世外桃源快意游。</li>
				
			</ul>
		</div>
		<div class="zx_fang">
			<span class="zx_span">民宿一览</span>
			<div class="f_da wow bounceIn">
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da1.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da2.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da3.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da4.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da5.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da6.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da7.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da8.jpg" alt="" /><i></i></div>
				<div><img src="http://image.taocishuizhen.com/mobile/images/fa_da9.jpg" alt="" /><i></i></div>
			</div>
			<div class="f_xiao">
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao1.jpg" alt="" /><i></i>
					</div>
					<a href="">马家大院</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao2.jpg" alt="" /><i></i>
					</div>
					<a href="">忠孝传家</a>
					
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao3.jpg" alt="" /><i></i>
					</div>
					<a href="">陶岸憩斋</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao4.jpg" alt="" /><i></i>
					</div>
					<a href="">帝师客居</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao5.jpg" alt="" /><i></i>
					</div>
					<a href="">观陶水榭</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao6.jpg" alt="" /><i></i>
					</div>
					<a href="">荷塘月色</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao7.jpg" alt="" /><i></i>
					</div>
					<a href="">双河别墅</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao8.jpg" alt="" /><i></i>
					</div>
					<a href="">迓祉迎祥</a>
				</div>
				<div>
					<div class="pic">
						<img src="http://image.taocishuizhen.com/mobile/images/fa_xiao9.jpg" alt="" /><i></i>
					</div>
					<a href="">永春堂萱</a>
				</div>
			</div>
		</div>
	</div>
{% include "mobile/new.html" %}
 
{% include "mobile/footer.html" %}
