{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_contact.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">联系我们</span>
	</div>
		<div class="contact_con">
			<div class="top_tit">
				<span class="span1"><a href="/mobile/contact">联系我们</a></span><br />
				<span class="con_span">您好，如您有陶瓷水镇的相关问题，可直接联系我们！</span>
			</div>
			<div class="nei clearfix">
				<div class="left">
					<a href="taocishuizhenly@163.com"><img src="http://image.taocishuizhen.com/mobile/images/email.png">taocishuizhenly@163.com</a>
					<a href="tel:0311-82393999"><img src="http://image.taocishuizhen.com/mobile/images/phone.png" alt="" >0311-82393999</a>
					<span > <img src="http://image.taocishuizhen.com/mobile/images/weizhi.png" alt="" >河北省石家庄市井陉县南横口村陶瓷水镇票务中心</span>
				</div>
				<div class="right"></div>
			</div>
		</div>

{% include "mobile/new.html" %}
	
 
{% include "mobile/footer.html" %}