{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_yuan.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">陶瓷水镇图册</span>
	</div>
		<div class="travel_con">

			<div class="tra_ul">
				
				<ul class="clearfix"> 
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_1.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">陶世界</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_1.png" alt="" class="vcenter" /><i></i></a>
						<a href="#">红色文化纪念馆</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_5.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">水磨坊</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_4.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">甘陶河</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_3.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">三眼阁</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/4y.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">古窑遗址</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_9.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">黄金匣钵墙</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/home_8.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">马家大院</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq1.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq2.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq3.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq4.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq5.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq6.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq7.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq8.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
					<li class="wow bounceIn">
						<a href="#"><img src="http://image.taocishuizhen.com/mobile/images/jq9.jpg" alt="" class="vcenter" /><i></i></a>
						<a href="#">景区内景</a>
					</li>
				</ul>

			</div>
		</div>
		
	
{% include "mobile/new.html" %}
	
 
{% include "mobile/footer.html" %}