<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>陶瓷水镇</title>
	<meta name="keywords" content="陶瓷水镇,陶瓷水镇官网,陶瓷水镇南横口">
	<meta name="description" content="陶瓷水镇位于井陉县南横口村，是井陉县重点打造的一处集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假景区。">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://image.taocishuizhen.com/mobile/images/favicon.ico">
	
	<!-- include main css -->
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/jquery.mmenu.all.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css"/>
	<link href="/static/mobile/font-awesome-4.5.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' media="all" />
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/animate.css"/>
	
	<!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
<div>
	<!--header-->
	<header class="header_zi">
	   <div class="container">
		   <div class="logo">
	   	   		<a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/logo.png" alt="" /></a>
		   </div>
		   <a href="#mmenu" class="phone-nav"><i class="fa fa-list"></i></a>
		  <div class="logo_right">
		  	   <nav class="nav">
		   		<ul>
		   			<li><a href="/mobile" class="active">首页</a></li>
		   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
		   			<li><a href="/mobile/court_travel">陶瓷水镇</a>
		   				<ul>
		   					<li><a href="/mobile/court_travel">游客中心</a></li>
		   					<li><a href="/mobile/court_travel">马家大院</a></li>
		   					<li><a href="/mobile/court_travel">码头</a></li>
		   					<li><a href="/mobile/court_travel">陶瓷卖场</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="/mobile/comfortable">景区民宿</a></li>
		   			<li><a href="/mobile/news">新闻动态</a>
		   				<ul>
		   					<li><a href="/mobile/news">景区新闻</a></li>
		   					<li><a href="/mobile/news">景区活动</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
		   			<li><a href="/mobile/contact">联系我们</a></li>
		   		</ul>
		  	 </nav>
		  	 <div class="search">
		  	 	<span class="sea_x">
		  	 		<input type="" name="" id="" placeholder="请输入关键词">
		  	 		<i class="fa fa-search"></i>		  	
		  	 	</span>
		  	 	<span class="y_z">
		  	 		<a href="" class="zh active">中</a><a href="" class="en">En</a>
		  	 		
		  	 	</span>
		  	 </div>
		  </div>
	   	
	   </div>
	</header>
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_yuan.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">陶瓷水镇</span>
	</div>
		<div class="travel_con">
			<div class="top_qie">
				<a href="">游客中心</a>
				<a href="" class="active">马家大院</a>
				<a href="" >码头</a>
				<a href="">陶瓷卖场</a> 
			</div>
			<div class="tra_ul">
				
				<ul class="clearfix"> 
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_1.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(一)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_2.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(二)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_3.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(三)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_4.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(四)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_5.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(五)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_6.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(六)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_7.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(七)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_8.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(八)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="http://image.taocishuizhen.com/mobile/images/home_9.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(九)</a>
					</li>
				</ul>
				<div class="page">
						<a href=""><i class="ye fa fa-backward"></i></a>
						<a href=""><i class="ye fa fa-caret-left"></i></a>
						<a href="" class="active">1</a>
						<a href="" class="">2</a>
						<a href="" class="">3</a>
						<span href="" class="">…</span> 
						<a href=""><i class="ye fa fa-caret-right"></i></a>
						<a href=""><i class="ye fa fa-forward"></i></a>
				</div>
			</div>
		</div>
		
	
	<div class="home_news">
		<div class="news_con">
			<div class="top_tit">
				<span class="span1"><a href="/mobile/news">景区活动</a></span><br />
				<span class="span2">NEWS</span>
			</div>
			<ul>
				<li class="clearfix wow bounceIn">
					<div class="news_left">
						<a href="https://mp.weixin.qq.com/s/l0pyzcGRR1xgi9RsdTLKBg">2020年中国•陶瓷水镇“南横口杯” 首届全国摄影大赛公告！</a>
						<p>
为了宣传“井陉窑”文化，展现陶瓷水镇的灵魂、浓厚的人文、全域美景，多方位推进“井陉窑”文化旅游目的地建设，特举办“南横口杯”全国摄影大赛。欢迎广大摄影工作者和摄影爱好者踊跃投稿，积极参与。
						</p>
					</div>
					<div class="news_right">
						<span>05.25</span>
					<time>2020</time>
					</div>
				</li>
				<li class="clearfix wow bounceIn">
					<div class="news_left">
						<a href="https://mp.weixin.qq.com/s/NhV-j9NraA07zyuzAU5M4g">六一儿童节快乐|缤纷六月，七彩童年</a>
						<p>
							童年，是一幅迷人的画，勾勒出我多少动人有趣的故事童年，是一首婉转悠扬的短笛奏出了我多少纯洁美好的幻想，走进欢乐的6.1儿童节和孩子们一起回归童真……
						</p>
					</div>
					<div class="news_right">
						<span>06.01</span>
					<time>2020</time>
					</div>
				</li>
				<li class="clearfix">
					<div class="news_left">
						<a href="https://mp.weixin.qq.com/s/YMNqXnrQyXh83g2US5XH_w">“五一”小长假相约陶瓷水镇</a>
						<p>
							春末夏初的火热天气，陶瓷水镇依旧迎来不少游客朋友们。疫情过后的第一个假期，让我们放松心情，享受美好假日。一起相约陶瓷水镇！
						</p>
					</div>
					<div class="news_right">
						<span>04.20</span>
					<time>2020</time>
					</div>
				</li>
				<li class="clearfix">
					<div class="news_left">
						<a href="https://mp.weixin.qq.com/s/o5hZ2JLXtt-JzFb7ze_Epw">周末去哪游？</a>
						<p>
							一个千年的古村落，神秘美丽！一条弯弯的甘陶河，河水清清！一座跨河的铁路桥，车轮滚滚！世外“陶”源——陶瓷水镇
						</p>
					</div>
					<div class="news_right">
						<span>04.05</span>
					<time>2020</time>
					</div>
				</li>
			</ul>
			<a href="/mobile/news" class="more">MORE</a>
		</div>
	</div>

	
 
    <!--footer  start-->
       <footer class="footer">
       <div class="footer_con">
       		<div class="con">
       			<div class="nei">
       				<div class="">
       					<ul class="di_nav clearfix">
			   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
			   			<li><a href="/mobile/court_travel">陶瓷水镇</a></li>
			   			<li><a href="/mobile/comfortable">景区民宿</a></li>
			   			<li><a href="/mobile/news">新闻动态</a></li>
			   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
			   			<li><a href="/mobile/contact">联系我们</a></li>
	       				</ul>
	       				<div class="links">友情链接
	       					<ul>
	       						<li><a href="www.baidu.com">百度一下</a></li>
					   			<li><a href="https://baike.baidu.com/item/%E9%99%B6%E7%93%B7%E6%B0%B4%E9%95%87/49998859">百度百科</a></li>
	       					</ul>
	       				</div>
       				</div>
       				<div class="clear"></div>
       			<div class="lian">
       					电话：<a href="tel:0311-82393999">0311-82393999</a><br />
						地址：河北省石家庄市井陉县南横口村陶瓷水镇票务中心<br />
						备案号：<a href="http://www.beian.miit.gov.cn/">冀ICP备20009545号-1</a><br />
						
						<span> 
							<a href="#" target="_blank">
								<img src="http://image.taocishuizhen.com/mobile/images/yu.png" alt="" />
							</a>
							
							<span class="er_a">
								<img src="http://image.taocishuizhen.com/mobile/images/er.png" alt="" class="one_img"/>
								陶瓷水镇公众号
								<img src="http://image.taocishuizhen.com/mobile/images/erwei.png" alt="" class="er_img"/>
							</span>
							
						</span> 	
       				</div>
       				
       			</div>
       		</div>
       		
       </div>
      <div class="copy">Copyright© 2020 版权所有：河北华秀文化旅游有限公司</div>
	</footer>
    <!--footer  end-->

		<!--移动端  Mmenu-->
	<nav id="mmenu">
		
		<ul>
			
			<li><a href="/mobile" class="active">首页</a></li>
   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
   			<li><a href="/mobile/court_travel">陶瓷水镇</a>
            	<ul>
                   <li><a href="/mobile/court_travel">游客中心</a></li>
		   					<li><a href="/mobile/court_travel">马家大院</a></li>
		   					<li><a href="/mobile/court_travel">码头</a></li>
		   					<li><a href="/mobile/court_travel">陶瓷卖场</a></li>
                </ul>
            </li>
   			<li><a href="/mobile/comfortable">景区民宿</a></li>
   			<li><a href="/mobile/news">新闻动态</a>
   				<ul>
   					<li><a href="/mobile/news">景区新闻</a></li>
   					<li><a href="/mobile/news">景区活动</a></li>
   				</ul>
   			</li>
   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
   			<li><a href="/mobile/contact">联系我们</a></li>
			 
		</ul>
	</nav>		</div>	

<!--Include Js-->
<script src="/static/mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/static/mobile/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>

<!--slick-->
<script src="/static/mobile/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobile/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/static/mobile/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>

<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
