  <!--footer  start-->
    <footer class="footer">
       <div class="footer_con">
       		<div class="con">
       			<div class="nei">
       				<div class="">
       					<ul class="di_nav clearfix">
			   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
			   			<li><a href="/mobile/court_travel">陶瓷水镇</a></li>
			   			<li><a href="/mobile/comfortable">景区民宿</a></li>
			   			<li><a href="/mobile/news">新闻动态</a></li>
			   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
			   			<li><a href="/mobile/contact">联系我们</a></li>
	       				</ul>
	       				<div class="links">友情链接
	       					<ul>
	       						<li><a href="www.baidu.com">百度一下</a></li>
					   			<li><a href="https://baike.baidu.com/item/%E9%99%B6%E7%93%B7%E6%B0%B4%E9%95%87/49998859">百度百科</a></li>
	       					</ul>
	       				</div>
       				</div>
       				<div class="clear"></div>
       				<div class="lian">
       					电话：<a href="tel:0311-82393999">0311-82393999</a><br />
						地址：河北省石家庄市井陉县南横口村陶瓷水镇票务中心<br />
						备案号：<a href="http://www.beian.miit.gov.cn/">冀ICP备20009545号-1</a><br />

						<span>
							<a href="#" target="_blank">
								<img src="http://image.taocishuizhen.com/mobile/images/yu.png" alt="" />
							</a>

							<span class="er_a">
								<img src="http://image.taocishuizhen.com/mobile/images/er.png" alt="" class="one_img"/>
								陶瓷水镇公众号
								<img src="http://image.taocishuizhen.com/mobile/images/erwei.png" alt="" class="er_img"/>
							</span>

						</span>
       				</div>

       			</div>
       		</div>

       </div>
       <div class="copy">Copyright© 2020 版权所有：河北华秀文化旅游有限公司</div>
	</footer>
    <!--footer  end-->

	<!--移动端  Mmenu-->
	<nav id="mmenu">

		<ul>

			<li><a href="/mobile" class="active">首页</a></li>
   			<li><a href="/mobile/scenic_overview">景区概况</a></li>
   			<li><a href="/mobile/court_travel">水镇图册</a>
            	<ul>
                   <li><a href="/mobile/news_show/HS">红色纪念文化馆</a></li>
		   					<li><a href="/mobile/news_show/TC">陶瓷体验馆</a></li>
		   					<li><a href="/mobile/news_show/SH">甘陶河水上项目</a></li>
		   					<li><a href="/mobile/news_show/SZ">水镇人家主题餐厅</a></li>
		   					<li><a href="/mobile/news_show/TSJ">陶世界</a></li>
                </ul>
            </li>
   			<li><a href="/mobile/comfortable">景区民宿</a></li>
   			<li><a href="/mobile/news">新闻动态</a>
   				<ul>
   					<li><a href="/mobile/news">景区新闻</a></li>
   					<li><a href="/mobile/news">景区活动</a></li>
   				</ul>
   			</li>
   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
   			<li><a href="/mobile/contact">联系我们</a></li>

		</ul>
	</nav>

</div>

<!--Include Js-->
<script src="/static/mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/static/mobile/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>



<!--slick-->
<script src="/static/mobile/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobile/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/static/mobile/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
<script src="/static/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>