{% include "mobile/booter.html" %}
			
	<!--banner  start-->
	<section class="banner">
	    <div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner1.jpg" alt=""></a></div>
	    <div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner2.jpg" alt=""></a></div>
	    <div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner3.jpg" alt=""></a></div>
		<div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner4.jpg" alt=""></a></div>
		<div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner5.jpg" alt=""></a></div>
		<div><a href="/mobile"><img src="http://image.taocishuizhen.com/mobile/images/banner6.jpg" alt=""></a></div>
	</section>
	<!--banner end-->
	<div class="jqgk">
		<div class="contai">
			<div class="top_tit">
				<span class="span1"><a href="/mobile/scenic_overview">景区概况</a></span><br />
				<span class="span2">SCENIC OVERVIEW</span>
			</div>
			<p class="wow bounceIn" style="text-indent: 2em">
				陶瓷水镇旅游度假区项目是集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的休闲旅游度假区，</p>
				<p class="wow bounceIn" style="text-indent: 2em">
整体占地116公顷左右，规划为四个功能分区---古村落漫步休闲区、陶瓷小镇、滨水休闲娱乐区、文化展示区，总投资≥30亿。
			</p>
			<div class="xia_x">
				<span class="img"></span>
			</div>
		</div>	
	</div>
	<div class="wyzl">
		<div class="top_tit">
			<span class="span1"><a href="/mobile/court_travel">陶瓷水镇</a></span><br />
			<span class="span2">COURT TRAVEL</span> 
		</div>
		<ul class="clearfix"> 
			<li class="wow bounceIn">
				<a href="/mobile/news_show/HS"><img src="http://image.taocishuizhen.com/mobile/images/home_1.png" alt="" class="vcenter" /><i></i></a>
				<a href="/mobile/news_show/HS">红色纪念文化馆</a>
			</li>
			<li class="wow bounceIn">
				<a href="/mobile/news_show/TC"><img src="http://image.taocishuizhen.com/mobile/images/home_2.png" alt="" class="vcenter" /><i></i></a>
				<a href="/mobile/news_show/TC">陶瓷体验馆</a>
			</li>
			<li class="wow bounceIn">
				<a href="/mobile/news_show/SH"><img src="http://image.taocishuizhen.com/mobile/images/home_3.png" alt="" class="vcenter" /><i></i></a>
				<a href="/mobile/news_show/SH">甘陶河水上项目</a>
			</li>
			<li class="wow bounceIn">
				<a href="/mobile/news_show/SZ"><img src="http://image.taocishuizhen.com/mobile/images/home_11.png" alt="" class="vcenter" /><i></i></a>
				<a href="/mobile/news_show/SZ">水镇人家主题餐厅</a>
			</li>
			<li class="wow bounceIn">
				<a href="/mobile/news_show/TSJ"><img src="http://image.taocishuizhen.com/mobile/images/tsj.jpg" alt="" class="vcenter" /><i></i></a>
				<a href="/mobile/news_show/TSJ">陶世界</a>
			</li>

		</ul>
	</div>
	<!--wyzl end-->
	<div class="syzz">
		<div class="top_tit">
        	<span class="span1"><a href="/mobile/scenic_overview">景区民宿</a></span><br />
			<span class="span2">COMFORTABLE RESIDENTIAL</span>  
		</div>
		<div class="syzz_con  clearfix">
			<div class="left">
				<div><a href="/mobile/comfortable"><img src="http://image.taocishuizhen.com/mobile/images/syzz_1.jpg" alt=""  class="vcenter"> <i></i></a></div>
				<div><a href="/mobile/comfortable"><img src="http://image.taocishuizhen.com/mobile/images/syzz_2.jpg" alt=""   class="vcenter"> <i></i></a></div>
				<div><a href="/mobile/comfortable"><img src="http://image.taocishuizhen.com/mobile/images/syzz_3.jpg" alt=""   class="vcenter"> <i></i></a></div>
			</div>
			<div class="right">
				<img src="http://image.taocishuizhen.com/mobile/images/fang.png" alt="" />
				<div class="fang_t">
					<span>客 |</span>
					<span>房 |</span>
					<span>介 |</span>
					<span>绍</span>
				</div>
				<div class="fang_c">
				景区一共有9个民宿院落，古朴和现代元素相结合，从设计、硬装和软装上都十分考究，每一件家居都是精挑细选，让每一位留宿水镇的游客流连忘返！
				</div>
				<div class="pr_ne clearfix">
					<span class="pr">
					
						上一个
					</span>
					<span class="ne">
						下一个
					</span>
				</div>
			</div>
		</div>
		<div class="xia_x">
				<span class="img"></span>
		</div>
	</div>
	<!--syzz end-->
{% include "mobile/new.html" %}

	
 
{% include "mobile/footer.html" %}
