
<!DOCTYPE html>
<html lang="en">
<head>
<title>陶瓷水镇-井陉南横口</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="陶瓷水镇,井陉南横口,陶瓷之乡,河北陶瓷" />

<!-- bootstrap-css -->
<link href="/static/mobile/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/static/mobile/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/static/mobile/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- gallery -->
<link rel="stylesheet" href="/static/mobile/css/lightbox.css">
<!-- //gallery -->

<script src="/static/mobile/js/jquery-1.11.1.min.js"></script>
<script src="/static/mobile/js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 

</head>
<body>
	<div class="banner-top">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="agileits-banner-info">
									<h3>T</h3>
									<h4>陶瓷水镇</h4>
								</div>	
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<div class="container">
								<div class="agileits-banner-info1">
									<h3>T</h3>
									<h4>陶瓷水镇</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info2">
									<h3>T</h3>
									<h4>陶瓷水镇</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top3">
							<div class="container">
								<div class="agileits-banner-info3">
									<h3>T</h3>
									<h4>陶瓷水镇</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top4">
							<div class="container">
								<div class="agileits-banner-info4">
									<h3>T</h3>
								<h4>陶瓷水镇</h4>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script src="/static/mobile/js/responsiveslides.min.js"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
			</script>
			<!--banner Slider starts Here-->
		</div>
	</div>
	<!-- banner -->
	<div class="banner">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="index.html">陶瓷 <span>水镇</span></a>
						</h1>
					</div>
				</div>
				<div class="header-right">
					<p><i class="fa fa-phone" aria-hidden="true"></i> 0311-82393777</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="active list-border scroll" href="index.html">首页</a></li>
									<li><a href="#about" class="scroll">关于</a></li>
									<li><a href="#services" class="scroll">服务</a></li>
									<li><a href="#gallery" class="scroll">画廊</a></li>
									<li><a href="#news" class="scroll">新闻</a></li>
								
								</ul>	
								<div class="clearfix"> </div>
							</div>	
						</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about" id="about">
		<div class="w3-about-top">
			<h3>A</h3>
		</div>
		<div class="w3l-about">
			<div class="container">
				<div class="w3ls-heading">
					<h2>关于陶瓷水镇</h2>
				</div>
				<div class="w3ls-about-info">
					<p>陶瓷水镇南横口旅游度假区项目是集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假区，整体占地116公顷左右，规划为四个功能分区---古村落漫步休闲区、陶瓷小镇、滨水休闲娱乐区、文化展示区，总投资≥30亿。</p>
					<div class="w3ls-about-grids">
						<div class="col-md-3 w3ls-about-grid">
							<img src="/static/mobile/images/a1.jpg" alt="" />
						</div>
						<div class="col-md-3 w3ls-about-grid">
							<img src="/static/mobile/images/a2.jpg" alt="" />
						</div>
						<div class="col-md-3 w3ls-about-grid">
							<img src="/static/mobile/images/a3.jpg" alt="" />
						</div>
						<div class="col-md-3 w3ls-about-grid">
							<img src="/static/mobile/images/a4.jpg" alt="" />
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services" id="services">
		<div class="w3-services-top">
			<h3>S</h3>
		</div>
		<div class="w3l-about w3l-services">
			<div class="container">
				<div class="w3ls-heading">
					<h3>服务</h3>
				</div>
				<div class="agileits-services-grids">
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-bus" aria-hidden="true"></i>
						<h4>交通</h4>
						<p>井陉县域内目前高速公路共4条，分别是石太高速、京昆高速、平赞高速、南绕城高速。</p>
					</div>
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>支付</h4>
						<p>支持银联快捷、微信、支付宝、现金...</p>
					</div>
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-gift" aria-hidden="true"></i>
						<h4>纪念品</h4>
						<p>陶瓷工艺品具有不怕日晒雨淋、耐火烧、刀刮、能经历百年沧桑、永不褪色的特点，具有不可估量的艺术价值。</p>
					</div>
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-plane" aria-hidden="true"></i>
						<h4>机场</h4>
						<p>河北石家庄正定国际机场</p>
					</div>
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-subway" aria-hidden="true"></i>
						<h4>高铁</h4>
						<p>石家庄站</p>
					</div>
					<div class="col-md-4 agileits-services-grid">
						<i class="fa fa-ship" aria-hidden="true"></i>
						<h4>轮船</h4>
						<p>暂无</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="w3-gallery-top">
			<h3>G</h3>
		</div>
		<div class="w3l-about w3l-gallery">
			<div class="container">
				<div class="w3ls-heading">
					<h3>图库</h3>
				</div>
				<div class="gallery-grids">
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g1.jpg" data-lightbox="example-set" data-title="陶瓷水镇夜景">
										<img src="/static/mobile/images/g1.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g2.jpg" data-lightbox="example-set" data-title="陶瓷水镇夜景">
										<img src="/static/mobile/images/g2.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						
					<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g3.jpg" data-lightbox="example-set" data-title="灯笼">
										<img src="/static/mobile/images/g3.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g4.jpg" data-lightbox="example-set" data-title="画舫">
										<img src="/static/mobile/images/g4.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						
					
				
					
					
						
						<div class="clearfix"> </div>
						<script src="/static/mobile/js/lightbox-plus-jquery.min.js"> </script>
				</div>
					<div class="gallery-grids">
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g5.jpg" data-lightbox="example-set" data-title="画舫">
										<img src="/static/mobile/images/g5.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g6.jpg" data-lightbox="example-set" data-title="庭院夜景">
										<img src="/static/mobile/images/g6.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						
					<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g7.jpg" data-lightbox="example-set" data-title="甘陶河">
										<img src="/static/mobile/images/g7.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
						<div class="col-md-3 gallery-grid">
							<div class="grid">
								<figure class="effect-apollo">
									<a class="example-image-link" href="/static/mobile/images/g8.jpg" data-lightbox="example-set" data-title="甘陶河">
										<img src="/static/mobile/images/g8.jpg" alt="" />
										<figcaption>
										</figcaption>	
									</a>
								</figure>
							</div>
						</div>
				
					
				</div>
				
		
				
			</div>
		</div>
	</div>
	<!-- //gallery -->

	<!-- news -->
	<div class="news" id="news">
		<div class="w3-news-top">
			<h3>N</h3>
		</div>
		<div class="w3l-about w3l-news">
			<div class="container">
				<div class="w3ls-heading">
					<h3>新闻</h3>
				</div>
				<div class="wthree-news-grids">
					<div class="col-md-6 agile-news-right-info">
						<div class="col-sm-4 agile-news-img">
							
						</div>
						<div class="col-sm-8 agile-news-img-info">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">非遗文化表演--社火</a></h5>
							<div class="agileits-w3layouts-border"> </div>
							<p>非物质文化社火表演</p>
							<h6><i class="fa fa-calendar" aria-hidden="true"></i> 2020-5-1</h6>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 agile-news-right-info">
						<div class="col-sm-4 agile-news-img agile-news-img1">
								
						</div>
						<div class="col-sm-8 agile-news-img-info">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">红色纪念馆</a></h5>
							<div class="agileits-w3layouts-border"> </div>
							<p>缅怀先辈,牢记历史</p>
							<h6><i class="fa fa-calendar" aria-hidden="true"></i> 2020-4-2</h6>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //news -->
	
	


		
		
	<!-- //contact -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="copyright">
				<p><a href="http://www.beian.miit.gov.cn/">河北华秀文化旅游有限公司|冀ICP备20009545号-1</a> </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="/static/mobile/js/responsiveslides.min.js"></script>
	<script src="/static/mobile/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/static/mobile/js/move-top.js"></script>
	<script type="text/javascript" src="/static/mobile/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>	
</html>