{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_new.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">新闻动态</span>
	</div>
		
	<div class="news_zi">

		<ul class="news_zi_ul">
			<li class="clearfix">
				<div class="news_left clearfix">
					<div class="pic">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow"><img src="http://image.taocishuizhen.com/mobile/images/news1.png" alt="" /></a>
						<i></i>
					</div>
					<div class="txt">
						<a href="https://mp.weixin.qq.com/s/l0pyzcGRR1xgi9RsdTLKBg">2020年中国•陶瓷水镇“南横口杯” 首届全国摄影大赛公告！</a>
						<p>
为了宣传“井陉窑”文化，展现陶瓷水镇的灵魂、浓厚的人文、全域美景，多方位推进“井陉窑”文化旅游目的地建设，特举办“南横口杯”全国摄影大赛。欢迎广大摄影工作者和摄影爱好者踊跃投稿，积极参与。
						</p>
					</div>
				</div>
				<div class="news_right">
					<span>05.25</span>
					<time>2020</time>
				</div>
			</li>
			<li class="clearfix">
				<div class="news_left clearfix">
					<div class="pic">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow"><img src="http://image.taocishuizhen.com/mobile/images/news2.png" alt="" /></a>
						<i></i>
					</div>
					<div class="txt">
						<a href="https://mp.weixin.qq.com/s/NhV-j9NraA07zyuzAU5M4g">六一儿童节快乐|缤纷六月，七彩童年</a>
						<p>
							童年，是一幅迷人的画，勾勒出我多少动人有趣的故事童年，是一首婉转悠扬的短笛奏出了我多少纯洁美好的幻想，走进欢乐的6.1儿童节和孩子们一起回归童真……
						</p>
					</div>
				</div>
				<div class="news_right">
					<span>06.01</span>
					<time>2020</time>
				</div>
			</li>
			<li class="clearfix">
				<div class="news_left clearfix">
					<div class="pic">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow"><img src="http://image.taocishuizhen.com/mobile/images/news3.png" alt="" /></a>
						<i></i>
					</div>
					<div class="txt">
						<a href="https://mp.weixin.qq.com/s/YMNqXnrQyXh83g2US5XH_w">“五一”小长假相约陶瓷水镇</a>
						<p>
							春末夏初的火热天气，陶瓷水镇依旧迎来不少游客朋友们。疫情过后的第一个假期，让我们放松心情，享受美好假日。一起相约陶瓷水镇！
						</p>
					</div>
				</div>
				<div class="news_right">
					<span>04.20</span>
					<time>2016</time>
				</div>
			</li>
			<li class="clearfix">
				<div class="news_left clearfix">
					<div class="pic">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow"><img src="http://image.taocishuizhen.com/mobile/images/news4.png" alt="" /></a>
						<i></i>
					</div>
					<div class="txt">
						<a href="https://mp.weixin.qq.com/s/o5hZ2JLXtt-JzFb7ze_Epw">周末去哪游？</a>
						<p>
							一个千年的古村落，神秘美丽！一条弯弯的甘陶河，河水清清！一座跨河的铁路桥，车轮滚滚！世外“陶”源——陶瓷水镇
						</p>
					</div>
				</div>
				<div class="news_right">
					<span>04.05</span>
					<time>2020</time>
				</div>
			</li>
			<li class="clearfix">
				<div class="news_left clearfix">
					<div class="pic">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow"><img src="http://image.taocishuizhen.com/mobile/images/news5.png" alt="" /></a>
						<i></i>
					</div>
					<div class="txt">
						<a href="https://mp.weixin.qq.com/s/7GsvcYItzvBx6kD-uf3yow">“五一”小长假，陶瓷水镇文武双全！</a>
						<p>
							“五一”小长假转眼过去了，让我们回顾一下陶瓷水镇给游客朋友们带来的欢乐时光。免费游赏“北方小江南”美景，马家大院的青砖碧瓦，甘陶河水波荡漾，飘飘渺渺，小船悠悠。
						</p>
					</div>
				</div>
				<div class="news_right">
					<span>05.08</span>
					<time>2020</time>
				</div>
			</li>
		</ul>

	</div>

{% include "mobile/footer.html" %}