<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>陶瓷水镇</title>
	<meta name="keywords" content="陶瓷水镇,陶瓷水镇官网,陶瓷水镇南横口">
	<meta name="description" content="陶瓷水镇位于井陉县南横口村，是井陉县重点打造的一处集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假景区。">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://image.taocishuizhen.com/mobile/images/favicon.ico">
	
	<!-- include main css -->
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/jquery.mmenu.all.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css"/>
	<link href="/static/mobile/font-awesome-4.5.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' media="all" />
	<link rel="stylesheet" type="text/css" href="/static/mobile/css/animate.css"/>
	
	<!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
<div>
	<!--header-->
	<header class="header_zi">
	   <div class="container">
		   <div class="logo">
	   	   		<a href="index.html"><img src="http://image.taocishuizhen.com/mobile/images/logo.png" alt="" /></a>
		   </div>
		   <a href="#mmenu" class="phone-nav"><i class="fa fa-list"></i></a>
		  <div class="logo_right">
		  	 	 <nav class="nav">
		   		<ul>    
		   			<li><a href="index.html" class="active">首页</a></li>
		   			<li><a href="scenic_overview.html">景区概况</a></li>
		   			<li><a href="court_travel.html">陶瓷水镇</a>
		   				<ul>
		   					<li><a href="court_travel.html">游客中心</a></li>  
		   					<li><a href="court_travel.html">马家大院</a></li>
		   					<li><a href="court_travel.html">码头</a></li>
		   					<li><a href="court_travel.html">陶瓷卖场</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="comfortable.html">景区民宿</a></li>
		   			<li><a href="news.html">新闻动态</a>
		   				<ul>
		   					<li><a href="news.html">景区新闻</a></li>
		   					<li><a href="news.html">景区活动</a></li>
		   				</ul>
		   			</li>
		   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
		   			<li><a href="contact.html">联系我们</a></li>
		   		</ul>
		  	 </nav>
		  	 <div class="search">
		  	 	<span class="sea_x">
		  	 		<input type="" name="" id="" placeholder="请输入关键词">
		  	 		<i class="fa fa-search"></i>		  	
		  	 	</span>
		  	 	<span class="y_z">
		  	 		<a href="" class="zh active">中</a><a href="" class="en">En</a>
		  	 		
		  	 	</span>
		  	 </div>
		  </div>
	   	
	   </div>
	</header>
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_new.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="index.html">首页 </a> > <a href="news.html">新闻动态</a> > <span class="active">2020年中国•陶瓷水镇“南横口杯” 首届全国摄影大赛公告！</span>
	</div>
	<div class="news_show">
		<span class="show_t">2020年中国•陶瓷水镇“南横口杯” 首届全国摄影大赛公告！</span>
		<span class="fa_time">来源：陶瓷水镇   &nbsp;&nbsp;    发布时间：2020-05-21</span>
		<p style="text-indent:2em;">
			陶瓷水镇南横口历史悠久，文化、旅游资源丰富，自隋代起陶瓷制造业就不断兴盛，素有“千年古村、陶瓷之乡”的美誉，陶瓷水镇南横口村是河北省美丽乡村、楹联之乡、河北四大窑井陉窑三大片区之一。于2016年12月列入全国第四批传统村落名录。2018年8月，成立了河北“井陉窑”文化研究会，2019年承接河北省旅发大会和石家庄旅发大会。</p>
			<p style="text-indent:2em;">为了宣传“井陉窑”文化，展现陶瓷水镇的灵魂、浓厚的人文、全域美景，多方位推进“井陉窑”文化旅游目的地建设，特举办“南横口杯”全国摄影大赛。欢迎广大摄影工作者和摄影爱好者踊跃投稿，积极参与。
		</p>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/show1.png" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/show2.png" alt="" class="vcenter"/>
				<i></i>
			</div>	
		</div>
		<p style="text-indent:2em;">
			由河北华秀文化旅游有限公司和河北井陉窑文化研究会主办，石家庄广播电视摄影协会、河北省女摄影家协会和河北省航拍学会第八大队协办的“2020年中国•陶瓷水镇“南横口杯”首届全国摄影大赛”于2020年6月1日启动。
		</p>
		<p style="text-indent:2em;">为配合本次摄影大赛，记录古镇民风，现将具体事宜公告如下：</p>

<p style="text-align:center">一、摄影大赛时间</p>

<p style="text-align:center">2020年6月1日至8月31日24时止。</p>

<p style="text-align:center">二、摄影地点</p>

<p style="text-align:center">井陉县南横口陶瓷水镇。</p>

<p style="text-align:center">三、参赛人员</p>

<p style="text-align:center"></p>全国摄影工作者和爱好者均可参加。凡是参赛人员，凭身份证到“陶瓷水镇”游客中心登记，领取参赛证。参赛期间，凭参赛证享有免费拍摄权利。联系电话：82393999。</p>
</p>
    <p style="text-align:center">四、拍摄内容</p>

    <p style="text-align:center">围绕井陉县南横口陶瓷水镇，以“井陉窑”陶瓷文化、红色教育基地、中国传统古村落三大文化灵魂为主题，将文化与旅游两大产业融合，开启新模式，塑造新思维。拍摄题材以纪实为主，全面展现本次大赛主题的风貌。</p>

    <p style="text-align:center">五、图片要求</p>

<p style="text-align:center">拍摄图片须是2019年1月1日以来的作品（未获得任何奖项作品）。图片彩色、黑白及单幅、组照均可，组照每组4-8张。图片只可在饱和度、色阶、对比度、明暗等进行调整。谢绝创意、电脑合成及任意添加或删减，需保证图片的真实性和完整性。图片为JPG电子格式，像素不小于3M。</p>

<p style="text-align:center">六、提交作品要求</p>

<p style="text-align:center">提交作品时，一位作者需新建一个文件夹打包上传，文件夹名称标明：“南横口杯”摄影大赛+姓名+联系电话。文件夹内的组照和单幅作品，只写作品名称。文件夹内附文档，每幅作品须有简短说明，包括创作时间和内容。不按要求提交作品的视为无效稿件。</p>

    <p style="text-align:center">七、参赛作品提交时间</p>

<p style="text-align:center">2020年6月1日至8月31日24时止。

每人限交10幅（组）作品。</p>

<p style="text-align:center">八、提交作品邮箱</p>

 <p style="text-align:center">taocishuizhenly@163.com</p>

   <p style="text-align:center">九、奖项设置（等次奖项不可重复获得）</p>

     <p style="text-align:center">一等奖1名，奖金5000元（税后）；</p>

     <p style="text-align:center">二等奖3名，奖金各3000元（税后）；</p>

     <p style="text-align:center">三等奖5名，奖金各1000元（税后）；</p>

     <p style="text-align:center">优秀奖20名，奖金各200元（税后）。</p>


		</p>
		<p style="text-indent:2em;">
		获奖后，作者按照要求提交原始文件，未提交的，取消获奖资格。作者须享有提交作品的版权，如有版权纠纷，作者自负，与主办方无关。主办方享有所有参赛作品的使用权，主办方有权在宣传、影展中使用。</p>

<p style="text-indent:2em;">影赛公告及获奖信息在www.taocishuizhen.com（陶瓷水镇旅游官方网站）、河北省女摄协公众号和广电摄协公众号及各大摄影微信群、QQ群刊登。
		</p>
		
	</div>

	
	

	
 
    <!--footer  start-->
      <footer class="footer">
       <div class="footer_con">
       		<div class="con">
       			<div class="nei">
       			<div class="">
       					<ul class="di_nav clearfix">
			   			<li><a href="scenic_overview.html">景区概况</a></li>
			   			<li><a href="court_travel.html">陶瓷水镇</a></li>
			   			<li><a href="comfortable.html">景区民宿</a></li>
			   			<li><a href="news.html">新闻动态</a></li>
			   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
			   			<li><a href="contact.html">联系我们</a></li>
	       				</ul>
	       				<div class="links">友情链接
	       					<ul>
	       						<li><a href="">百度文化</a></li>
					   			<li><a href="">新浪微博</a></li>
					   			<li><a href="">百度知道</a></li>
	       					</ul>
	       				</div>
       				</div>
       				<div class="clear"></div>
       				<div class="lian">
       					电话：<a href="tel:0311-82393999">0311-82393999</a><br />
						地址：河北省石家庄市井陉县南横口村陶瓷水镇票务中心<br />
						备案号：<a href="http://www.beian.miit.gov.cn/">冀ICP备20009545号-1</a><br />
						
						<span> 
							<a href="#" target="_blank">
								<img src="http://image.taocishuizhen.com/mobile/images/yu.png" alt="" />
							</a>
							
							<span class="er_a">
								<img src="http://image.taocishuizhen.com/mobile/images/er.png" alt="" class="one_img"/>
								陶瓷水镇公众号
								<img src="http://image.taocishuizhen.com/mobile/images/erwei.png" alt="" class="er_img"/>
							</span>
							
						</span> 	
       				</div>
       				
       			</div>
       		</div>
       		
       </div>
       <div class="copy">Copyright© 2020 版权所有：河北华秀文化旅游有限公司</div>
	</footer>
    <!--footer  end-->

		<!--移动端  Mmenu-->
	<nav id="mmenu">
		
		<ul>
			
			<li><a href="index.html" class="active">首页</a></li>
   			<li><a href="scenic_overview.html">景区概况</a></li>
   			<li><a href="court_travel.html">陶瓷水镇</a>
            	<ul>
                   <li><a href="court_travel.html">游客中心</a></li>  
		   					<li><a href="court_travel.html">马家大院</a></li>
		   					<li><a href="court_travel.html">码头</a></li>
		   					<li><a href="court_travel.html">陶瓷卖场</a></li>
                </ul>
            </li>
   			<li><a href="comfortable.html">景区民宿</a></li> 
   			<li><a href="news.html">新闻动态</a>
   				<ul>
   					<li><a href="news.html">景区新闻</a></li>
   					<li><a href="news.html">景区活动</a></li>
   				</ul>
   			</li>
   			<li><a href="https://www.wjx.top/jq/80030772.aspx">留言中心</a></li>
   			<li><a href="contact.html">联系我们</a></li>
			 
		</ul>
	</nav>		</div>	

<!--Include Js-->
<script src="/static/mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/static/mobile/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>

<!--slick-->
<script src="/static/mobile/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobile/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/static/mobile/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>

<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
