{% include "mobile/booter.html" %}
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="http://image.taocishuizhen.com/mobile/images/banner_jing.png" alt=""></div>
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> > <span class="active">景区概况</span>
	</div>
	<div class="jqgk">
		<div class="contai">
			<div class="top_tit">
				<span class="span1"><a href="/mobile/scenic_overview"></a>景区概况</span><br />
				<span class="span2">SCENIC OVERVIEW</span>
			</div>
			<p class="wow bounceIn">
				陶瓷水镇南横口旅游度假区项目是集观光游览、休闲度假、创意文化、滨水娱乐等旅游业态为一体的山水休闲旅游度假区，<br />
整体占地116公顷左右，规划为四个功能分区---古村落漫步休闲区、陶瓷小镇、滨水休闲娱乐区、文化展示区，总投资≥30亿。<br />
为中国城镇化进程中的美丽乡村建设贡献一份力量。
			</p>
			<ul class="jing_zi_ul clearfix">
				<li class="wow bounceIn"><img src="http://image.taocishuizhen.com/mobile/images/jing1.png" alt="" class="vcenter"/><i></i></li>
				<li class="wow bounceIn"><img src="http://image.taocishuizhen.com/mobile/images/jing2.png" alt="" class="vcenter"/><i></i></li>
				<li class="wow bounceIn"><img src="http://image.taocishuizhen.com/mobile/images/jing3.png" alt="" class="vcenter" /><i></i></li>
			</ul>
			<div class="xia_x"><img src="http://image.taocishuizhen.com/mobile/images/xia.png" alt="" /></div>
		</div>	
	</div>
<!--合作伙伴-->
	<div class="hzhb">
		<div class="top_tit">
			<span class="span1">合作伙伴</span><br />	
		</div>
		<ul class="hzhb_ul clearfix">
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he1.png" alt="" class="vcenter"/><i></i>
				</a>
			</li>
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he2.png" alt=""  class="vcenter"/><i></i>
				</a>
			</li>
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he3.png" alt="" class="vcenter" /><i></i>
				</a>
			</li>
			<li> 
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he4.png" alt=""  class="vcenter"/><i></i>
				</a>
			</li>		
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he1.png" alt="" class="vcenter"/><i></i>
				</a>
			</li>
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he2.png" alt=""  class="vcenter"/><i></i>
				</a>
			</li>
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he3.png" alt="" class="vcenter" /><i></i>
				</a>
			</li>
			<li>
				<a href="">
					<img src="http://image.taocishuizhen.com/mobile/images/he4.png" alt=""  class="vcenter"/><i></i>
				</a>
			</li>
		</ul>
	</div>
	
	<!--syzz end-->
{% include "mobile/new.html" %}
	
{% include "mobile/footer.html" %}