{% include "utils/booter.html" %}
<link rel="stylesheet" href="/static/css/trip.css" type="text/css" media="all" />
{% include "utils/nav.html" %}


<div class="scxxsgcontentbox">
<div class="sc1428">
<div class="contentbox">

<div>
<p style="text-align: left;"><img src="/static/img/trip/201903211639292100.png" style="max-width:100%"/></p><p><br/></p><div class="col-md-7"><p style="font-size:18px;color:#595757;padding:20px 0;">　　陶瓷水镇游客中心为游客提供一站式景区服务，受理景区咨询、投诉处理、设备租赁、物品寄存、医疗救护、失物招领、文创陶瓷纪念品售卖等业务，为游客提供全方位、人性化的优质旅游服务。</p><p style="font-size:18px;color:#595757;padding:20px 0;"><strong>旅游咨询：</strong>0311-82393999<br/><strong>景区求助：</strong>0311-82393999<br/><strong>景区投诉：</strong>0311-82393999</p></div><div class="col-md-5"><img src="/static/img/trip/201903211642281799.jpg" style="max-width:100%"/></div><div class="clearfix"></div><p style="text-align: center;"><img src="/static/img/trip/201903211639477257.jpg" style="max-width:100%"/></p>
</div>
</div>

</div>
</div>


{% include "utils/prefooter.html" %}


{% include "utils/footer.html" %}


