{% include "utils/booter.html" %}
<link rel="stylesheet" href="/static/css/strategy.css" type="text/css" media="all" />
{% include "utils/nav.html" %}

  <div class="wc-bg wrapper" >
    <div class="wrap">
     <div class="inner clearfix">
        <div class="" >
          <div class="brandBox">
              <div class="huazhuan-content">
                <div class="con-bg-bai" >
                  <div class="shortcut wz-now">
                     <i class="fa fa-home"></i>
                     <a href="/">首页</a>&gt;
                     <a>玩转</a> > <a>旅游攻略</a>
                  </div>

                  <div class="nr-all">
                    <div class="title"><h3>旅游攻略</h3></div>
                    <div class="content_wrapper">
                      <div class="postbody detail xw-gonglv">
                          {%for item in cont%}
                        <div class="zx-list ">
                            <a href="/trip/strategy/detail/{{item.name}}"  title="{{item.name}}" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="{{item.src}}" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>{{item.time}}</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>{{item.name}}</h5>
                                        </div>
                                        <div class="text">
                                            <p> {{item.intro}} </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                          {% endfor %}

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="box-bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% include "utils/prefooter.html" %}

<script>
    $(function () {
        $(".subpage").each(function (index, now) {
            console.log(now);
            if (index % 2)
                $(this).addClass("bg-gray");
        });
    })

</script>
{% include "utils/footer.html" %}