{% include "utils/booter.html" %}
<link rel="stylesheet" href="/static/css/strategy.css" type="text/css" media="all" />
{% include "utils/nav.html" %}

  <div class="wc-bg wrapper" >
    <div class="wrap">
     <div class="inner clearfix">
        <div class="" >
          <div class="brandBox">
              <div class="huazhuan-content">
                <div class="con-bg-bai" >
                  <div class="shortcut wz-now">
                     <i class="fa fa-home"></i>
                     <a href="/">首页</a>&gt;
                     <a>玩转</a> > <a>旅游攻略</a>
                  </div>

                  <div class="nr-all">
                    <div class="title"><h3>旅游攻略</h3></div>
                    <div class="content_wrapper">
                      <div class="postbody detail xw-gonglv">
                        <div class="zx-list ">
                            <a href="#"  title="漫游帝师故里" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/26153718fiv1.jpeg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-26</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>漫游帝师故里</h5>
                                        </div>
                                        <div class="text">
                                            <p> 这篇游记将带你走进刘伯温故里--浙江文成。文成县是明朝开国元勋刘基(刘伯温)的故里,文成,是刘基的谥号。很多明朝历史题材的小说和影视剧,介绍到刘伯温,都是说是“青田”人,那也是没错的,文成县武阳村原先就隶属于青田县,后来到了1946年,从瑞安、青田、泰顺三县边区析置而成文成县。 </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="zx-list ">
                            <a href="#"  title="夏天这么热，我想去文成" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/25161458t44g.jpg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-24</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>夏天这么热，我想去文成</h5>
                                        </div>
                                        <div class="text">
                                            <p> 炎热的夏天，出门意味着暴晒，躲在空调房里才是大多数人的选择。不过我知道一个地方，一定比躲在空调房里还要舒服，那就是文成。
文成在哪里？浙江省温州市文成县。 </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="zx-list last ">
                            <a href="#"  title="邂逅惊艳—文成" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/2509585587y9.jpg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-22</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>邂逅惊艳—文成</h5>
                                        </div>
                                        <div class="text">
                                            <p> 大学四年转瞬即逝，带着小伙伴去老家走走，自己长这么大也没去过这些地方。当真正踏上那里时被家乡的美景所震撼。我的家乡原来这么美，比得上我以前去过的任何景点。可惜其中一只小伙伴因为实习未能来，流泪中。。。。。。 </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="zx-list ">
                            <a href="#"  title="我所熟悉的刘伯温故里文成" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/20144337t9to.jpg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-20</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>我所熟悉的刘伯温故里文成</h5>
                                        </div>
                                        <div class="text">
                                            <p> 我与文成错过太多，好几次想去与它结识，却由于各种阻碍未能与它相见，这一次不一样了......我和它的缘分来了，带着几分好奇与几分激动的心情一路狂奔，奔向文成的怀抱，初见文成我想我这就是一见钟情吧，我爱上它了..... </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="zx-list ">
                            <a href="#"  title="漂流嬉水、放飞心情之旅" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/05110624kqpa.jpg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-05</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>漂流嬉水、放飞心情之旅</h5>
                                        </div>
                                        <div class="text">
                                            <p> 观赏一漈雄、二漈奇、三漈的阶梯型濕布，感受大自然带来的中华第一高瀑之杜观；“华东第一峡”的峡谷景廊景区，是集激情漂流、野外拓展、烧烤野炊、篝火露营为一体的休闲圣地。景区内最具特色的当属“男人惊叫，女人欢笑”激情飘流项目了 </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="zx-list last ">
                            <a href="#"  title="祈福禅修、静心养生之旅" style="text-decoration: none; ">
                                <div class="item-holder">
                                    <div class="image-box">
                                        <figure>
                                                <img src="/static/img/trip/05103728pg8u.jpg" alt="">
                                        </figure>
                                        <div class="date-box">
                                            <span>2018-06-05</span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="sec-title">
                                           <h5>祈福禅修、静心养生之旅</h5>
                                        </div>
                                        <div class="text">
                                            <p> 普渡众生、弘扬佛法的佛门圣地安福寺，让你感受东方佛国的悲智愿行，感悟安福利生的喜舍慈悲。家4A级旅游景区龙麒源景区，是一处山水风光优美、融合畲族民俗风情的旅游胜地。当地畬民为纪念畲族始祖龙麒，故把这方风水宝地称为龙麒源。景区森林盖率达96％， </p>
                                        </div>
                                        <ul class="blog-info">

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="box-bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% include "utils/prefooter.html" %}


{% include "utils/footer.html" %}