{% include "utils/booter.html" %}
       <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
{% include "utils/nav.html" %}
 <div class="wrap">
        <ul class="page-nav cl">
            <li><a href="/">首页</a></li>
            <li>></li>
            <li>活动公告</li>
            <li>></li>
            <li class="active">景区活动</li>
        </ul>
        <div class="clear"></div>
    </div>
{%for item in cont%}
    <div class="wrap cultural">

        <ul class="cl">
                      <li>
                <a href="/activity/activity/detail/{{item.name}}" class="cl">
                    <img src="{{item.src1}}"alt="" title="">
                    <div>
                        <h2 title="{{item.name}}">{{item.name}}</h2>
                                                    <span>{{item.name1}}</span>
                                                    <span>{{item.name2}}</span>
                                                    <span>{{item.name3}}</span>
                                                <h4>{{item.time}}</h4>
                        <p>
                            {{item.intro}}
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>                                                                                                                                                                                                                                       																														                                                                                                                                                                                                                                                                                                                                    																														                                                                                                </ul>

    </div>
{% endfor %}
{% include "utils/prefooter.html" %}
<script>
    $(function () {
        $(".subpage").each(function (index, now) {
            console.log(now);
            if (index % 2)
                $(this).addClass("bg-gray");
        });
    })

</script>
{% include "utils/footer.html" %}