{% include "utils/booter.html" %}
       <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
{% include "utils/nav.html" %}
 <div class="wrap">
        <ul class="page-nav cl">
            <li><a href="/">首页</a></li>
            <li>></li>
            <li>活动公告</li>
            <li>></li>
            <li class="active">景区活动</li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="wrap cultural">

        <ul class="cl">
                      <li>
                <a href="https://www.toutiao.com/a6741684335985820168/" class="cl">
                    <img src="/static/img/activity/1.jpg"alt="" title="">
                    <div>
                        <h2 title="“迎国庆”井陉陶瓷水镇民俗文化节启动仪式">“迎国庆”井陉陶瓷水镇民俗文化节启动仪式</h2>
                                                    <span>民俗文化节</span>
                                                    <span>井陉陶瓷</span>
                                                    <span>陶瓷水镇</span>
                                                <h4>2019.11.27</h4>
                        <p>
                            千呼万唤的“迎国庆”井陉陶瓷水镇首届民俗文化节，盛邀全国具有版权的节庆团队，携手各路网红美食家，超100+星厨美味，为您而来！
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                        <li>
                <a href="https://xw.qq.com/cmsid/20191016A0OGXB00" class="cl">
                    <img src="/static/img/activity/2.jpg"alt="" title="">
                    <div>
                        <h2 title="第四届河北省旅游产业发展大会 观摩活动在我县陶瓷水镇南横口举行">第四届河北省旅游产业发展大会 观摩活动在我县陶瓷水镇南横口举行</h2>
                                                    <span>陶瓷水镇</span>
                                                    <span>井陉南横口</span>
                                                    <span>旅游发展大会</span>
                                                <h4>2019.10.16</h4>
                        <p>
                            10月16日上午旅发观摩团分两批来到井陉县陶瓷水镇南横口进行观摩。观摩团队按预定路线从东广场开始观摩。
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                        <li>
                <a href="http://he.people.com.cn/n2/2019/0824/c192235-33284310.html" class="cl">
                    <img src="/static/img/activity/03.jpg"alt="" title="">
                    <div>
                        <h2 title="陶瓷水镇新貌即将亮相石家庄第五届旅发大会">陶瓷水镇新貌即将亮相石家庄第五届旅发大会游</h2>
                                                    <span>陶瓷水镇</span>
                                                    <span>旅发大会</span>
                                                    <span>石家庄</span>
                                                <h4>2019.08.08</h4>
                        <p>
                            作为石家庄市第五届旅发大会重要景点之一，按照旅发大会筹委会的总体规划设计，目前，南横口村陶瓷水镇景区各景点准备工作基本就绪，个别节点正在进一步精细化打造中。
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                                                                                                                                                                                                                                                        																														                                                                                                                                                                                                                                                                                                                                    																														                                                                                                </ul>
        <div class="clear"></div>
    </div>

    <div class="wrap-full bg-gray cultural2">
        <div class="wrap">
            <h1 class="ph1">往期活动</h1>
            <ul class="list-activity cl">
                                    <li>
                        <a href="https://baijiahao.baidu.com/s?id=1654216142297200766">
                            <img src="/static/img/activity/02.jpg"alt="" title="">
                            <h4 title="陶瓷水镇红色文化主题展馆举行开展仪式">陶瓷水镇红色文化主题展馆举行开展仪式</h4>

                        </a>
                    </li>
                                    <li>
                        <a href="https://new.qq.com/omn/20191031/20191031A0GF8Q00.html">
                            <img src="/static/img/activity/3.jpg"alt="" title="">
                            <h4 title="100名男女闯关陶瓷水镇找幸福，现场爱情初体验">100名男女闯关陶瓷水镇找幸福，现场爱情初体验</h4>

                        </a>
                    </li>
                                    <li>
                        <a href="https://baijiahao.baidu.com/s?id=1649180786474079930">
                            <img src="/static/img/activity/4.jpg"alt="" title="">
                            <h4 title="曾经杭州西湖断桥爱情美，如今河北陶瓷水镇迎恋情">曾经杭州西湖断桥爱情美，如今河北陶瓷水镇迎恋情</h4>

                        </a>
                    </li>

                                    <li>
                        <a href="https://new.qq.com/omn/20190923/20190923A0HGE600.html">
                            <img src="/static/img/activity/5.jpg"alt="" title="">
                            <h4 title="2陶瓷水镇喜迎“边走边看 美丽庭院”定向越野活动年">陶瓷水镇喜迎“边走边看 美丽庭院”定向越野活动</h4>

                        </a>
                    </li>
  					 <li class="viewMore">
                    <a href="####">
                        <div>
                            <img src="/static/img/activity/zhankai.png">
                            剩余<span class="_count">2</span>项 | 展开全部
                            <img src="/static/img/activity/arrow-bottom.png">
                        </div>
                        <img src="/static/img/activity/zhankai.png" class="zhankai">
                        <h4>剩余<span>2</span>项</h4>
                        <i>展开全部</i><img src="/static/img/activity/arrow-bottom.png" class="i-b">
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div id="_listc1" style="display: none">
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="https://www.toutiao.com/a6742118810439909901/">
                        <img src="/static/img/activity/6.jpg"alt="" title="">
                        <h4>华区委老干部局组织离退休老干部参观陶瓷水镇南横口村</h4>

                    </a>
                </li>
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="https://www.toutiao.com/a6748663685696193037/">
                        <img src="/static/img/activity/7.jpg"alt="" title="">
                        <h4>天路一号全球首辆ARCar（阿卡）车落户陶瓷水镇南横口</h4>

                    </a>
                </li>
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="https://www.toutiao.com/a6738192807103562251/">
                        <img src="/static/img/activity/8.jpg"alt="" title="">
                        <h4>静水流深，我在井陉陶瓷水镇等你......</h4>

                    </a>
                </li>


                    </div>
    </div>


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');

            //var _num2 = $('.cultural2 .list-activity .viewMore > a > h4 span').text() - 4;

            var _num2 = parseInt($('.cultural2 .list-activity .viewMore > a > h4 span').text()) + 1;

            if($('.cultural2 .list-activity .viewMore > a > h4 span').text()==0){
                $('.cultural2 .list-activity > li:last').hide();
            }else{
                $('.cultural2 .list-activity > li').eq(5).hide();
            }

            $('.cultural2 .list-activity .viewMore > a > h4 span').text(_num2);

            $('.cultural2 .list-activity .viewMore ._count').text(parseInt($('.cultural2 .list-activity .viewMore > a > h4 span').text()));

            var _lisc =$("#_listc1 li");

            var _count1 = 0;	//计数器

            $('.viewMore').click(function(){
                var _num1 = 3;
                for(var i=0;i<_num1;i++){
                    $('.cultural2 .list-activity').append(_lisc);
                    $('.cultural2 .list-activity > .newsli').eq(i).animate({'top':'0','opacity':'1'},2000)
                }
                $(this).remove();
                $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');

                $('.cultural2 .list-activity > li').eq(5).show();

                $(window).scroll(function(){
                    //内容的数量
                    var _window = $(window).height();	//窗口高度
                    var _scoll = $(window).scrollTop();	//滚动的距离
                    var _total = $('.cultural2 .list-activity').height();	//新增元素的总高度
                    var _otop = $('.cultural2 .list-activity > li:last').offset().top;	//最后一个新增元素到顶部的距离
                    var _etop = $('.cultural2 .list-activity > li:last').height();	//一个新增元素的高度
                    if (_window + _scoll >= _total && _count1 < _num2 ) {
                        $('.cultural2 .list-activity').append(_lisc);
                        $('.cultural2 .list-activity > li').animate({'top':'0'},2000)
                        $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');
                        _count1++
                    }

                    //查看更多效果
                    $('.views > span > span').css('left','-'+$('.views > span > span').width()+'px');
                    $('.views > span').hover(function(){
                        var _move = $(this).width() + 1;
                        $(this).find('span').css('left','-' + _move + 'px');
                        $(this).find('span').stop().animate({'left':'0'},500);
                    },function(){
                        var _move = $(this).width() + 1;
                        $(this).find('span').stop().animate({'left':_move},500);

                    });

                });

            });


        });
    </script>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}