{% include "utils/booter.html" %}
       <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
{% include "utils/nav.html" %}
 <div class="wrap">
        <ul class="page-nav cl">
            <li><a href="/">首页</a></li>
            <li>></li>
            <li>活动公告</li>
            <li>></li>
            <li class="active">景区活动</li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="wrap cultural">
        <h1 class="ph1">近期活动</h1>
        <ul class="cl">
                      <li>
                <a href="https://mp.weixin.qq.com/s/YCFiWewL_MGS8VW2troszA" class="cl">
                    <img src="/static/img/activity/1.jpg"alt="" title="">
                    <div>
                        <h2 title="“迎国庆”井陉陶瓷水镇民俗文化节启动仪式">“迎国庆”井陉陶瓷水镇民俗文化节启动仪式</h2>
                                                    <span>民俗文化节</span>
                                                    <span>井陉陶瓷</span>
                                                    <span>陶瓷水镇</span>
                                                <h4>2019.9.27</h4>
                        <p>
                            千呼万唤的“迎国庆”井陉陶瓷水镇首届民俗文化节，盛邀全国具有版权的节庆团队，携手各路网红美食家，超100+星厨美味，为您而来！
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                        <li>
                <a href="#" class="cl">
                    <img src="/static/img/activity/2019090109133863913.jpg"alt="" title="">
                    <div>
                        <h2 title="用音乐告别夏天，2019陶瓷水镇童玩节闭幕">用音乐告别夏天，2019陶瓷水镇童玩节闭幕</h2>
                                                    <span>陶瓷水镇</span>
                                                    <span>陶瓷</span>
                                                    <span>陶瓷水镇夏令营</span>
                                                <h4>2019.08.31</h4>
                        <p>
                            8月28日，麦田剧场变装秀、乐队、舞蹈轮番上场，村长和他的伙伴们为村民带来了一场别开生面的童年乐翻天音乐会。
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                        <li>
                <a href="#" class="cl">
                    <img src="/static/img/activity/2019040808434299691.jpg"alt="" title="">
                    <div>
                        <h2 title="春游赏花三重乐：古镇闹香市，文艺逛展览，亲子踏青乡村游">春游赏花三重乐：古镇闹香市，文艺逛展览，亲子踏青乡村游</h2>
                                                    <span>陶瓷水镇</span>
                                                    <span>陶瓷</span>
                                                    <span>水镇狂欢节</span>
                                                <h4>2019.04.08</h4>
                        <p>
                            3月底至6月初，丰富的春季活动也随着万物一同复苏，轮番上演。
                         </p>
                        <div class="views">
							<span>
								了解更多
								<span></span>
							</span>
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </li>
                                                                                                                                                                                                                                                        																														                                                                                                                                                                                                                                                                                                                                    																														                                                                                                </ul>
        <div class="clear"></div>
    </div>

    <div class="wrap-full bg-gray cultural2">
        <div class="wrap">
            <h1 class="ph1">往期活动</h1>
            <ul class="list-activity cl">
                                    <li>
                        <a href="#">
                            <img src="/static/img/activity/2019010909290531144.jpg"alt="" title="">
                            <h4 title="赏水灯 逛集市 吃街宴，浓浓年味从小年到元宵 | 陶瓷水镇中国年">赏水灯 逛集市 吃街宴，浓浓年味从小年到元宵 | 陶瓷水镇中国年</h4>

                        </a>
                    </li>
                                    <li>
                        <a href="#">
                            <img src="/static/img/activity/2018042510481965520.jpg"alt="" title="">
                            <h4 title="陶瓷水镇再度带回“陶瓷水镇狂欢节”——第十八届中国•陶瓷水镇香市4月1日开市">陶瓷水镇再度带回“陶瓷水镇狂欢节”——第十八届中国•陶瓷水镇4月1日开市</h4>

                        </a>
                    </li>
                                    <li>
                        <a href="#">
                            <img src="/static/img/activity/2018092208180175798.jpg"alt="" title="">
                            <h4 title="中秋预告 | 地里作物成熟的时节，地上人儿团圆的季节。">中秋预告 | 地里作物成熟的时节，地上人儿团圆的季节。</h4>

                        </a>
                    </li>

                                    <li>
                        <a href="#">
                            <img src="/static/img/activity/2018042511034176688.jpg"alt="" title="">
                            <h4 title="20项民俗活动齐荟萃  陶瓷水镇最浓中国年味 ——1月25日-3月4日 寻味传统中国年">20项民俗活动齐荟萃  陶瓷水镇最浓中国年味 ——1月25日-3月4日 寻味传统中国年</h4>

                        </a>
                    </li>
  					 <li class="viewMore">
                    <a href="####">
                        <div>
                            <img src="/static/img/activity/zhankai.png">
                            剩余<span class="_count">5</span>项 | 展开全部
                            <img src="/static/img/activity/arrow-bottom.png">
                        </div>
                        <img src="/static/img/activity/zhankai.png" class="zhankai">
                        <h4>剩余<span>5</span>项</h4>
                        <i>展开全部</i><img src="/static/img/activity/arrow-bottom.png" class="i-b">
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div id="_listc1" style="display: none">
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="#">
                        <img src="/static/img/activity/2018051611074270785.jpg"alt="" title="">
                        <h4>百米长街，宴开百桌，坐吃长街宴</h4>

                    </a>
                </li>
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="#">
                        <img src="/static/img/activity/2018042513064431168.jpg"alt="" title="">
                        <h4>古镇斗香祭月  江南百人赏月 ——5大玩点，陶瓷水镇中秋国庆欢乐游                                                                                               </h4>

                    </a>
                </li>
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="#">
                        <img src="/static/img/activity/2018042513023213220.jpg"alt="" title="">
                        <h4>浓情七夕 “蜜”爱陶瓷水镇</h4>

                    </a>
                </li>
                            <li class="newsli" style="position:relative;top:30px;">
                    <a href="#">
                        <img src="/static/img/activity/2018062710203025352.jpg"alt="" title="">
                        <h4>童玩节 |孙悟空、黑猫警长、葫芦娃空降陶瓷水镇，带你回爷爷家过暑假！</h4>

                    </a>
                </li>

                    </div>
    </div>


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');

            //var _num2 = $('.cultural2 .list-activity .viewMore > a > h4 span').text() - 4;

            var _num2 = parseInt($('.cultural2 .list-activity .viewMore > a > h4 span').text()) + 1;

            if($('.cultural2 .list-activity .viewMore > a > h4 span').text()==0){
                $('.cultural2 .list-activity > li:last').hide();
            }else{
                $('.cultural2 .list-activity > li').eq(5).hide();
            }

            $('.cultural2 .list-activity .viewMore > a > h4 span').text(_num2);

            $('.cultural2 .list-activity .viewMore ._count').text(parseInt($('.cultural2 .list-activity .viewMore > a > h4 span').text()));

            var _lisc =$("#_listc1 li");

            var _count1 = 0;	//计数器

            $('.viewMore').click(function(){
                var _num1 = 3;
                for(var i=0;i<_num1;i++){
                    $('.cultural2 .list-activity').append(_lisc);
                    $('.cultural2 .list-activity > .newsli').eq(i).animate({'top':'0','opacity':'1'},2000)
                }
                $(this).remove();
                $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');

                $('.cultural2 .list-activity > li').eq(5).show();

                $(window).scroll(function(){
                    //内容的数量
                    var _window = $(window).height();	//窗口高度
                    var _scoll = $(window).scrollTop();	//滚动的距离
                    var _total = $('.cultural2 .list-activity').height();	//新增元素的总高度
                    var _otop = $('.cultural2 .list-activity > li:last').offset().top;	//最后一个新增元素到顶部的距离
                    var _etop = $('.cultural2 .list-activity > li:last').height();	//一个新增元素的高度
                    if (_window + _scoll >= _total && _count1 < _num2 ) {
                        $('.cultural2 .list-activity').append(_lisc);
                        $('.cultural2 .list-activity > li').animate({'top':'0'},2000)
                        $('.cultural2 .list-activity > li:nth-child(3n)').css('margin-right','0');
                        _count1++
                    }

                    //查看更多效果
                    $('.views > span > span').css('left','-'+$('.views > span > span').width()+'px');
                    $('.views > span').hover(function(){
                        var _move = $(this).width() + 1;
                        $(this).find('span').css('left','-' + _move + 'px');
                        $(this).find('span').stop().animate({'left':'0'},500);
                    },function(){
                        var _move = $(this).width() + 1;
                        $(this).find('span').stop().animate({'left':_move},500);

                    });

                });

            });


        });
    </script>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}