{% include "utils/booter.html" %}
       <link rel="stylesheet" href="/static/css/news.css">
{% include "utils/nav.html" %}

 <!-- 公司公告 -->
    <div class="mains">
        <div class="news">
            <div class="title clearfix">
                <div class="right mr11">
                    <div class="box bt1">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">03-11</em>
                                    <em class="em2">2020</em>
                                </div>
                                <div class="dsc2" onclick="window.open('https://xw.qq.com/cmsid/20191016A0OGXB00','_self')">
                                    <span>井陉：陶瓷水镇南横口喜迎第四届省旅发大会观摩团</span>
                                    <em></em>
                                    <i>10月16日上午旅发观摩团分两批来到井陉县陶瓷水镇南横口进行观摩...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">04-20</em>
                                    <em class="em2">2020</em>
                                </div>
                                <div class="dsc2" onclick="window.open('https://baijiahao.baidu.com/s?id=1664016665037400428','_self')">
                                    <span>文旅部、国家卫健委联合下发《通知》 严格规范景区管理</span>
                                    <em></em>
                                    <i>4月13日，经国务院应对新型冠状病毒感染肺炎疫情联防联控机制同意，文化和旅游部、国家卫生健康委联合印发《关于做好旅游景区疫情防控和安全有序开放工作的通知》...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">04-11</em>
                                    <em class="em2">2020</em>
                                </div>
                                <div class="dsc2" onclick="window.open('https://baijiahao.baidu.com/s?id=1664096433774690718','_self')">
                                    <span>旅游景区接待游客量不得超过核定最大承载量的30%...</span>
                                    <em></em>
                                    <i>根据《通知》，景区需坚持防控为先，实行限量开放。各地在做好旅游景区疫情防控工作的前提下，坚持分区分级原则，严格落实《旅游景区恢复开放疫情防控措施指南》要求，做到限量、有序开放，严防无序开放。...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right ml11">
                    <div class="box bt1">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">03-11</em>
                                    <em class="em2">2020</em>
                                </div>
                                <div class="dsc2" onclick="window.open('https://www.thepaper.cn/newsDetail_forward_6970783','_self')">
                                    <span>关于进一步加强公共场所新冠肺炎疫情防控工作的通告...</span>
                                    <em></em>
                                    <i>为进一步加强公共场所疫情防控，严防疫情反弹，根据省、市疫情防控相关工作要求，现就有关要求通知如下。...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">04-01</em>
                                    <em class="em2">2020</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>关于应对新冠肺炎疫情影响加快服务业发展的工作方案...</span>
                                    <em></em>
                                    <i>根据疫情防控形势和服务业行业发展特点，结合2020年我市经济工作总体部署，应对疫情影响，实现“以丰补歉”，加快服务业高质量发展工作分三个阶段推进...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">04-04</em>
                                    <em class="em2">2020</em>
                                </div>

                                <div class="dsc2" onclick="window.open('https://baijiahao.baidu.com/s?id=1660043224719915828','_self')">
                                    <span>复工复产后，企业、景区等公共场所的防疫措施如何做？...</span>
                                    <em></em>
                                    <i>关于旅游景区，中国疾控中心一方面强调恢复开业前一系列的准备工作，特别是一些物资的准备，包括采购足够的口罩、消毒剂、洗手液、速干手消毒剂以及体温计等等这些防护物资。...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}