{% include "utils/booter.html" %}
       <link rel="stylesheet" href="/static/css/news.css">
{% include "utils/nav.html" %}

 <!-- 公司公告 -->
    <div class="mains">
        <div class="news">
            <div class="title clearfix">
                <div class="right mr11">
                    <div class="box bt1">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2019年4月12日，VMware与工信智创生态创新会议在上海城方创新中心圆满结束，会议旨在助力企业生态创新，通过终端用户计算技术为业务持续...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2019年4月12日，VMware与工信智创生态创新会议在上海城方创新中心圆满结束，会议旨在助力企业生态创新，通过终端用户计算技术为业务持续...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2019年4月12日，VMware与工信智创生态创新会议在上海城方创新中心圆满结束，会议旨在助力企业生态创新，通过终端用户计算技术为业务持续...</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right ml11">
                    <div class="box bt1">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2019年4月12日，VMware与工信智创生态创新会议在上海城方创新中心圆满结束，会议旨在助力企业生态创新，通过终端用户计算技术为业务持续...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>
                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2019年4月12日，VMware与工信智创生态创新会议在上海城方创新中心圆满结束，会议旨在助力企业生态创新，通过终端用户计算技术为业务持续...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">05-11</em>
                                    <em class="em2">2019</em>
                                </div>

                                <div class="dsc2" onclick="window.open('http://www.baidu.com','_self')">
                                    <span>VMware与工信智创生态创新会议在上海城方创新中心圆...</span>
                                    <em></em>
                                    <i>2000年4月12技术为业务持续...</i>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}