{% include "utils/booter.html" %}
       <link rel="stylesheet" href="/static/css/news.css">

{% include "utils/nav.html" %}

 <!-- 公司公告 -->

    <div class="mains">
        <div class="news">
            <div class="title clearfix">
                {%for item in cont%}
                <div class="right mr11" onclick="window.location.href='/activity/notice/detail/{{item.name}}';">
                    <div class="box bt1">
                        <ul>
                            <li class="clearfix">
                                <div class="dsc1">
                                    <em class="em1">{{item.time2}}</em>
                                    <em class="em2">{{item.time1}}</em>
                                </div>
                                <div class="dsc2">
                                    <span>{{item.name}}</span>
                                    <em></em>
                                    <i> {{item.intro}}</i>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
                {% endfor %}
        </div>
    </div>
        </div>

{% include "utils/prefooter.html" %}
        <script>
    $(function () {
        $(".subpage").each(function (index, now) {
            console.log(now);
            if (index % 2)
                $(this).addClass("bg-gray");
        });
    })

</script>
{% include "utils/footer.html" %}