{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="images/banner_new.png" alt=""></div>
	</section>
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> &gt; <a href="#">{{title}}</a>
	</div>
	<div class="news_show">
		<span class="show_t">{{title}}</span><br/>
		<div class="text-center">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/hss1.jpg "/>

			</div>

		</div>
		<p style="text-indent: 2em">
			红色文化纪念馆建成于2019年12月26日，收藏了不同环境不同时期的伟人塑像；
		</p>
<img src="http://image.taocishuizhen.com/mobile/images/hss2.jpg"/>
		<p style="text-indent: 2em">
			毛泽东，周恩来、列宁等伟人塑像，还有大量的书籍和书画等红色历史文献。
		</p>

	</div>

{% include "mobile/new.html" %}



{% include "mobile/footer.html" %}

