{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="images/banner_new.png" alt=""></div>	   
	</section>
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> &gt; <a href="#">{{title}}</a>
	</div>
	<div class="news_show">
		<span class="show_t">{{title}}</span><br/>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/shxm1.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/shxm2.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
		</div>
		<p style="text-indent: 2em">
			陶瓷水镇紧邻甘陶河，风光秀美，人杰地灵。
		</p>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/shxm3.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/shxm4.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>	
		</div>
		<p style="text-indent: 2em">
			在甘陶河上有画坊、乌篷船、脚踏船，游玩古村落，可以乘坐游船，遥看整个古村落全貌，仿佛穿越回千年前的梦里水乡。
		</p>

	</div>

{% include "mobile/new.html" %}



{% include "mobile/footer.html" %}
	
