{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="images/banner_new.png" alt=""></div>	   
	</section>
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> &gt; <a href="#">{{title}}</a>
	</div>
	<div class="news_show">
		<span class="show_t">{{title}}</span><br/>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/szrj1.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/szrj2.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
		</div>
		<p style="text-indent: 2em">
			主题餐厅位于景区中心地带，大红灯笼高高挂起的就是它了。
		</p>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/szrj3.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/szrj4.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>	
		</div>
		<p style="text-indent: 2em">
			古香古色的装修环境，中式的风格，给您一个十分舒适优雅的就餐环境，品尝井陉当地特色农家美食。
		</p>

	</div>

{% include "mobile/new.html" %}



{% include "mobile/footer.html" %}
	
