{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="images/banner_new.png" alt=""></div>	   
	</section>
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> &gt; <a href="#">{{title}}</a>
	</div>
	<div class="news_show">
		<span class="show_t">{{title}}</span><br/>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/tcty1.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/tcty2.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
		</div>
		<p style="text-indent: 2em">
			看过了千年古村，陶瓷之乡，这么多的瓶盘瓦罐，您一定也心痒痒想亲自体验制作一下。
		</p>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/tcty3.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/tcty4.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>	
		</div>
		<p style="text-indent: 2em">
			顺着景区指示牌，您便可以找到陶瓷体验馆，跟着陶艺师的指导，DIY一个专属茶杯。
		</p>

	</div>

{% include "mobile/new.html" %}



{% include "mobile/footer.html" %}
	
