{% include "mobile/booter.html" %}
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="images/banner_new.png" alt=""></div>	   
	</section>
	<div class="head_bar">
		<span>位置：</span><a href="/mobile">首页 </a> &gt; <a href="#">{{title}}</a>
	</div>
	<div class="news_show">
		<span class="show_t">{{title}}</span><br/>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/home_1.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/TSJ1.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
		</div>
		<p style="text-indent: 2em">
			陶世界陶瓷品种十分丰富，瓷器主要来源于井陉窑，这里日常生意相当火爆，具有品种齐全、物美价廉、信誉良好、任客挑选等口碑与优势。
		</p>
		<div class="s_img clearfix">
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/TSJ2.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>
			<div class="pic">
				<img src="http://image.taocishuizhen.com/mobile/images/TSJ3.jpg" alt="" class="vcenter"/>
				<i></i>
			</div>	
		</div>
		<p style="text-indent: 2em">
			这里主要展示了井陉窑烧制的茶叶罐、茶壶、茶杯等陶瓷手工产品。		</p>

	</div>

{% include "mobile/new.html" %}



{% include "mobile/footer.html" %}
	
