{% include "utils/booter.html" %}
<link rel="stylesheet" href="/static/css/trip.css" type="text/css" media="all" />
{% include "utils/nav.html" %}


<div class="scxxsgcontentbox">
<div class="sc1428" >

<script src="//player.polyv.net/script/player.js"></script>
<div id="test">
<div id='player'></div>
</div>
<script>
var width = document.getElementById("test").scrollWidth;
var height = width*0.5625; // 16/9 = 0.5625;
console.log(height);
console.log(document.body.clientHeight)
var player = polyvPlayer({
wrap: '#player',
autoplay:'true',
'width':width,
'height':height,
'vid' : '59d3419028376453b8a69f9477367978_5',
	'loop' :true,
	'skinLocation' : 2,
	'volume':1,
    'speed': false
});
</script>
</div>
</div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}