{% include "utils/booter.html" %}
{% include "utils/nav.html" %}



<script src="//player.polyv.net/script/player.js"></script>
<div id="test">
<div id='player'></div>
</div>
<script>
var width = document.getElementById("test").scrollWidth;
var height = width*0.5625; // 16/9 = 0.5625;
var player = polyvPlayer({
wrap: '#player',
autoplay:'true',
'width':width,
'height':height,
'vid' : '59d3419028376453b8a69f9477367978_5',
	'loop' :true,
	'skinLocation' : 2,
	'volume':1
});
</script>


{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}