{% include "utils/booter.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/media.css">
{% include "utils/nav.html" %}
        <br/><br/>

<div class="wrap" >
    <ul class="page-nav cl" >
        <li><a href="/">首页</a></li>
        <li>></li>
        <li>传统水镇</a></li>
        <li>></li>
        <li class="active">名人</li>
    </ul>
    <div class="clear"></div>
    <div class="introduction" id="aaa">
        <h2 class="page-h2">陶瓷水镇-水镇名人</h2>
            <div class="page-p">
                <p style="padding-top:20px"><span class="celebrity-name">马席珍</span><span class="celebrity-birth">1806年出生</span>
                <p class="introduction-p" style="margin: 20px 0px">幼聪颖,后入太学,1833年考取武英殿校录,参与编撰《二十三史》十年。他虽然学问深厚,然命运不济,十次参加进士考试,仅中“副榜”,因此“绝意仕进”。马席珍德望甚高,有三事可证:一是急功好义,于咸丰年间办理团练,修备教战,保民平安。二是重教助学,捐资修葺文庙及皆山书院,置三百田以供书院膏火,并奖劝后进,资其困乏。三是乐善好施。对婚丧无力者慨施不吝,又于通衢施粥数十年。因此,县志有裁 “邑之民颂德勿衰”,可谓实也。著有《问樵山房诗集》、《来青堂文集》。</p>
                <p class=""> <span class="celebrity-name">马作霖</span>
                    <span class="celebrity-birth">1898-1938</span>
                <p class="introduction-p" style="margin: 20px 0px">幼名学联，井陉县南横口村人。自幼好学，善于书法，十二岁时曾代祖父给人书写碑文。他为人仗义，尊老爱幼，善做益民之事，为乡亲们所称赞。</p>
                <p>南横口村紧靠绵河，他日见河水空流，而两岸农田干旱，人民食不果腹，衣不遮体，乃决心开山修渠，引绵河水浇灌农田。最初，他欲联络本村富户集资兴修水利，未得支持，求亲戚朋友借款，也无人肯借。后来，他在各村寻找志同道合者，组成“绵右渠筹备处”，上下求情，四处奔波，终于在1934年争取了河北省政府的支持。省政府致函华北水利委员会，请求按照马作霖的开渠设想免费测施。批准后，于1935年11月至1936年5月测量完毕。绘图所示:绵右渠引水地都村(当时属山西省，现归井陉县)西，东至井陉甘陶河，南至东柏山，北至绵河右岸。渠道分总干渠、南干渠和三条支渠。干、支渠全长55.9华里，设计引水量为每秒两立方米，浇地面积为5. 200亩，总工程量为177万立方米，需投资52万元。正当作霖设法筹资开工时，日本侵略军攻占了天津，国难当头，人心浮动，筹资困难，作霖乃决定奔赴抗日前线。临行前，他对家人说:“现在日军已占领了天津，渠开不成了，我走后，家里丢了什么东西也不能丢这套绵右渠的图纸，赶走日寇以后，我回来一定要把渠开通!”</p>
                <p>1938年，马作霖不幸牺牲在抗日前线。全家人悲痛万分，他们把作霖费尽心机才搞成的这套图纸，当作传家宝，珍重保存下来。1957年底，中共井陉县委决定开凿绵右渠，听说马作霖家保存着一份绵右渠图纸后，即派人前往说服动员，他的家属深明大义，将全套图纸贡献了出来，为绵右渠的选线测量提供了重要依据，从而使测量工作提前完成。(摘自:《井陉县志》729页)</p>
                 <p>马济霖(1915-1973)字益民，井陉县南横口村人。自幼即对祖传的陶瓷工艺产生了浓厚兴趣，把毕生精力投入陶瓷生产。1932年起，他对传统产品和窑炉建造进行改革和改进。1935年，窑炉周转次数由每年4次增加至8次，翻了一番。1936年，又新增加了3个工作间和1个半成品作业组、1个装窑烧窑开窑专业组，窑炉年周转次数增至14次，产量比1930年初增加了3倍。1936年，他还亲赴唐山、彭城等地许多厂家调查，第一次从天津引进绿色颜料和蓝色颜料，几经试验，在色釉上配制成红、绿、黄、黑等色调，色彩由单一变成五彩纷呈，由暗淡变为光彩夺目，这种色彩工艺一直沿用至今。他还根据地势、风向对窑进行改建。特别是利用主产品碗、盔、罐、钵的空隙，创制了蒜钵、酒具、茶具、灯盏等日用品和墨水瓶、笔筒、笔架印盒、猫枕等文化用品，因造型新颖、色彩鲜艳、质地纯净，多次受到当时政府嘉奖，被定为当时县运动会专用产品，并三次获得国家级“巴拿马奖状”。</p>
                 <p>1939年后，建材工业逐步兴起，他勇于创新，依然砍掉部分日用陶瓷生产，将目光转向建材生产。1940年产出了井陉陶瓷史上第一窑耐火砖，成为石家庄地区第一个生产机制耐火砖的厂家，产品畅销于东北、太原、大同、邯郸及本地区。1947年土改时，他被定为富农，财产被平分，窑业停工3年。1950年， 国家颁布了恢复、发展私营工商业政策，将土改时没收的窑业场地、设施发还给各窑户。1951年，全县窑户全部复产。他为抗美援朝捐款600元，居全县首位。1952 年冬，他和石家庄、邯郸的用户签订了生产陶瓷水管的合同。1954 年7月，他被选为县人大代表，在首届、二届人民代表大会上被选为主席团成员和“人民委员会委员”。1955年，国家对资本主义工商业进行社会主义改造。他第一个加入井陉县公私合营陶瓷厂; 7月1日任副厂长，分管生产技术。是年，购买公债800元，居全县首位。1959年1月，因装窑工违反操作规程而造成窑炉不过火。他被冤为蓄意制造事故，定为现行反革命，管制两年，劳动教养。8月，石家庄劳教所领导取其专长将他调入陶瓷研究所。1960年5月，劳改大队借调他帮助上了一条陶瓷生产线，收益很好，本人也被记二等功。1962年11月12日解除劳教，他回乡务农。“文革”中，他几经磨难，心俱受摧残。1973 年含冤去世。1982年3月18日井陉县人民法院为他彻底平反。(摘自:《井陉县志》( 1985- 2004 ) 205-206页)</p>
            </div>
    </div>

            <div class="gl1" style="padding-top:20px;padding-bottom:30px">
        <img src="/static/img/img/2.jpg" height="600" width="1000">
    </div>
</div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}