{% include "utils/booter.html" %}

{% include "utils/nav.html" %}


<!-- Promo block BEGIN -->
<div class="promo-block" id="promo-block">
    <div id="carousel-example-generic" class="carousel slide carousel-slider" style="margin-top: 50px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-one active">
                <div class="center-block">
                    <div class="center-block-wrap">
                        <div class="center-block-body">
<!--                            <h2 class="margin-bottom-20 animate-delay carousel-title-v1"-->
<!--                                data-animation="animated fadeInDown">-->
<!--                                Parallax <span class="color-red">One Page</span> has arrived-->
<!--                            </h2>-->
                            <div class="animated flipInX">
                                <div class="hidden-xs">
<!--                                    <i class="promo-like fa fa-thumbs-up"></i>-->
<!--                                    <div class="promo-like-text">-->
<!--                                        <h2>Let's just do it</h2>-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing<br> elit amet sed diam-->
<!--                                            nonummy nibh <a href="javascript:void(0);">dolore</a></p>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-two">
<!--                <h2 class="carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">-->
<!--                    Extremely <span class="color-red">Responsive</span> design-->
<!--                </h2>-->
<!--                <img class="carousel-position-two hidden-sm hidden-xs animate-delay"-->
<!--                     src="/static/assets/onepage/img/slider/Slide2_iphone_left.png" alt="Iphone"-->
<!--                     data-animation="animated fadeInUp">-->
<!--                <img class="carousel-position-three hidden-sm hidden-xs animate-delay"-->
<!--                     src="/static/assets/onepage/img/slider/Slide2_iphone_right.png" alt="Iphone"-->
<!--                     data-animation="animated fadeInUp">-->
            </div>

            <!-- Third slide -->
            <div class="item carousel-item-three">
<!--                <div class="center-block">-->
<!--                    <div class="center-block-wrap">-->
<!--                        <div class="center-block-body">-->
<!--                            <h3 class="margin-bottom-20 animate-delay carousel-title-v2"-->
<!--                                data-animation="animated fadeInDown">-->
<!--                                The clearest way into the Universe <br/> is through a forest wilderness.-->
<!--                            </h3>-->
<!--                            <span class="carousel-subtitle-v1">John Muir</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- Promo block END -->

<!-- Services block BEGIN -->
<div class="services-block content content-center" id="services">
    <div class="container">
        <h2>新闻动态</h2>
<!--        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>-->
        <div class="row news">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>摄影大赛<br> 首届全国摄影大赛公告</h3>
                <a href="/activity/activity/detail/2020年中国•陶瓷水镇“南横口杯”首届全国摄影大赛公告">了解更多</a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>陶瓷水镇：借势旅发大会 <br>千年陶瓷之乡再绽芳华</h3>
                <a href="/activity/new/detail/借势旅发大会千年陶瓷之乡再绽芳华">了解更多</a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3><span style="font-size: 17px">千年瓷韵展芳华，魅力水乡似江南</span><br>井陉陶瓷水镇民俗文化节启动</h3>
                <a href="activity/new/detail/井陉陶瓷水镇民俗文化节启动">了解更多</a>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <h3>
                    石家庄第五届旅发大会！
                    <br><span style="font-size: 16px">陶瓷水镇新貌即将亮相</span>
                </h3>
                <a href="/activity/new/detail/陶瓷水镇新貌即将亮相石家庄第五届旅发大会！">了解更多</a>

            </div>
        </div>
    </div>
</div>
<!-- Services block END -->

<!-- Message block BEGIN -->
<div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
        <h2>人生难得仙境处<strong>陶瓷水镇在人间</strong></h2>

    </div>
</div>
</div>
<!-- Message block END -->


<!-- Portfolio block BEGIN -->
<div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
        <h2 class="margin-bottom-50">魅力水镇</h2>
    </div>
    <div class="row">
<!--        <div class="item col-md-2 col-sm-6 col-xs-12">-->
<!--            <img src="/static/img/水上项目/s1.png" alt="NAME" class="img-responsive">-->
<!--            <a href="/static/img/水上项目/s1.png" class="zoom valign-center">-->
<!--                <div class="valign-center-elem">-->
<!--                    <strong>水上项目</strong>-->
<!--                    <em>简介</em>-->
<!--                    <b>详情</b>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
        {% for item in meili %}
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="{{item.path}}" alt="NAME" class="img-responsive">
            <a href="{{item.path}}" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>{{item.name}}</strong>
                    <em>{{item.jj}}</em>
                    <b>{{item.xq}}</b>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Portfolio block END -->

<!-- Checkout block END -->


<!-- Prices block BEGIN -->
<div class="prices-block content content-center" id="prices">
    <div class="container">
        <h2 class="margin-bottom-50">出行锦囊</h2>
        <div class="row">
            <!-- Pricing item BEGIN -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/lvyou.png" alt="">
                        <a class="chuxing-a" href="/trip/strategy"><h3 class="chuxing">旅游攻略 </h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/piaowu.png" alt="">
                        <a class="chuxing-a" href=""><h3 class="chuxing">票务信息</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/dianhua.png" alt="">
                        <a class="chuxing-a" href="/trip/service"><h3 class="chuxing">常用电话</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-content">
                    </div>
                    <div class="pricing-head">
                        <img class="chuxing-i" src="/static/img/jiaotong.png" alt="">
                        <a class="chuxing-a" href="/trip/traffic"><h3 class="chuxing">景区交通</h3></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% include "utils/prefooter.html" %}

{% include "utils/footer.html" %}