{% include "utils/booter.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/media.css">
{% include "utils/nav.html" %}
        <br/><br/>

<div class="wrap" >
    <ul class="page-nav cl" >
        <li><a href="/">首页</a></li>
        <li>></li>
        <li>传统水镇</a></li>
        <li>></li>
        <li class="active">渊源</li>
    </ul>
    <div class="clear"></div>
    <div class="introduction">
        <h2 class="page-h2">陶瓷水镇-水镇渊源</h2>
            <div class="page-p"><p style="padding-top:20px">南横口是历史古村,唐兴善寺碑载,南横口建村于西汉年间,起初村民为马家寨，后因从各地请来陶瓷制胚师傅并落户于村内，增加了吕、谢、贾、段、李等几姓，故村民为南寨。
                <p style="padding-top:10px">解放后更名为南横口，绵延至今已有2000余年历史。自隋至今,制陶烧瓷的历史沿延1200余年,是井陉现代陶瓷业的发源地。2015年以来,按照县委县政府要求,秀林镇依托千年瓷乡的资源优势,本着“先保护后开发,修旧如旧、体现特色”的原则,大力推进传统村落保护开发,总计投资1000余万元进行了环境整治民居修缮和古窑遗址保护,翻修了2000多米的石头路,打造了条特色笼盔街,栽植各类花冠树1000多棵,修缮了6家古民居建成了总面积达15000平方米的瀕河水景。</p>
                南横口村落整体环境面貌发生了巨大变化,旧日时的残垣断壁变成了整齐的笼盔墙,过去的垃圾场成为了如今的亲水园,昔日的脏乱差幻化成如今的洁净美,道通了、路绿了、花开了、景美了、人笑了,“水的古意,美丽瓷乡”正在焕发出夺目的光彩。</p></div>
        </div>

            <div class="gl1"  style="padding-top:20px;padding-bottom:30px">
        <img src="/static/img/img/3.jpg" height="600" width="1000">
    </div>
</div>

{% include "utils/prefooter.html" %}
{% include "utils/footer.html" %}