<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer" id="contact">
    <div class="container">
        <div class="row" style="border-bottom: solid 1px #3d3d47;">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col" style="padding-left: 0px">
                <h2>关于我们</h2>
            </div>
            <div class="col-md-8 col-sm-12 pre-footer-col">
                <h2>
                    <span style="border-right: 1px solid rgb(126, 128, 138);padding-right: 20px;">0932-77777777 </span>
                    <span style="padding-left: 20px;">河北省石家庄市井陉县南沟街</span>
                </h2>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px #3d3d47; margin-top: 20px; padding-bottom: 20px">
            <div class="col-md-1">
                <div class="row">
                    <p class="footer-p">传统水镇</p>
                    <a href="#"> 水镇概述</a>
                    <a href="#"> 水镇渊源</a>
                    <a href="#"> 水镇名人</a>
                    <a href="#"> 水镇民俗</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">度假水镇</p>
                    <a href="#"> 住宿</a>
                    <a href="#"> 美食</a>
                    <a href="#"> 休闲娱乐</a>
                    <a href="#"> 伴手礼</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">活动公告</p>
                    <a href="#"> 景区公告</a>
                    <a href="#"> 景区活动</a>
                    <a href="#"> 景区动态</a>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-2">
                <div class="row">
                    <p class="footer-p">出行锦囊</p>
                    <a href="#"> 旅游攻略</a>
                    <a href="#"> 景区服务</a>
                    <a href="#"> 交通信息</a>
                </div>
            </div>
        </div>
        <div class="row" style="height: 60px;line-height: 60px;">
            <div class="col-md-8 col-md-offset-2 privilege">
                <p class="privilege">
                    乌镇旅游股份有限公司©版本所有|
                    <a style="color: inherit" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">浙ICP备09047744号-6</a>
                    |
                    <a style="color: inherit" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33048302000208" target="_blank" rel="nofollow">浙公网安备33048302000208号</a>
                </p>
            </div>
        </div>

    </div>
</div>
<!-- END PRE-FOOTER -->

<!--&lt;!&ndash; BEGIN FOOTER &ndash;&gt;-->
<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; BEGIN COPYRIGHT &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4">-->
<!--                <div class="copyright">xxxx股份有限公司©版本所有</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; END COPYRIGHT &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN SOCIAL ICONS &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4">-->
<!--                <ul class="social-icons">-->
<!--                    <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>-->
<!--                    <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; END SOCIAL ICONS &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN COPYRIGHT &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4 text-right">-->
<!--                <p class="powered"> <a style="color: inherit" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">浙ICP备09047744号-6</a>-->
<!--                    |-->
<!--                    <a style="color: inherit" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33048302000208" target="_blank" rel="nofollow">浙公网安备33048302000208号</a></p>-->
<!--            </div>-->
<!--            &lt;!&ndash; END COPYRIGHT &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- END FOOTER -->
<a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>

<!--[if lt IE 9]>
<script src="/static/assets/plugins/respond.min.js"></script>
<![endif]-->
<!-- Load JavaScripts at the bottom, because it will reduce page load time -->
<!-- Core plugins BEGIN (For ALL pages) -->
<script src="/static/assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Core plugins END (For ALL pages) -->
<!-- Core plugins BEGIN (required only for current page) -->
<script src="/static/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="/static/assets/plugins/jquery.easing.js"></script>
<script src="/static/assets/plugins/jquery.parallax.js"></script>
<script src="/static/assets/plugins/jquery.scrollTo.min.js"></script>
<script src="/static/assets/onepage/scripts/jquery.nav.js"></script>
<!-- Core plugins END (required only for current page) -->
<!-- Global js BEGIN -->
<script src="/static/assets/onepage/scripts/layout.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        Layout.init();
    });
</script>
<!-- Global js END -->
</body>
</html>