</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
<!-- BEGIN STYLE CUSTOMIZER -->

<!-- END BEGIN STYLE CUSTOMIZER -->

<!-- Header BEGIN -->
<div class="header header-mobi-ext">
    <div class="container">
        <div id="cssmenu" class="row" style="">
            <!-- Logo BEGIN -->
            <ul>
                <li><a href="/" style="padding: 0 0">
                    <img src="/static/img/logo3.jpeg" alt="陶瓷水镇" style="height: 50px">
                </a></li>
                <!--	   <li class="active" style="margin-left: 50px"><a href="index.html"><span>陶瓷水镇</span></a></li>-->
                <li class="has-sub" style="margin-left: 50px"><a href="#"><span>传统水镇</span></a>
                    <ul>
                        <li><a href="/tradition"><span>水镇概述</span></a></li>
                        <li><a href="/origin"><span>水镇渊源</span></a></li>
                        <li><a href="/celebrity"><span>水镇名人</span></a></li>
                        <li><a href="/custom"><span>水镇民俗</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><span>度假水镇</span></a>
                    <ul>
                        <li><a href="/vacation/accommodation"><span>住宿</span></a></li>
                        <li><a href="/vacation/food"><span>美食</span></a></li>
                        <li><a href="/vacation/play"><span>休闲娱乐</span></a></li>
                        <li><a href="/vacation/commodity"><span>伴手礼</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>宣传影音</span></a></li>
                <li class="has-sub"><a href="#"><span>活动公告</span></a>
                    <ul>
                        <li><a href="/notice"><span>景区公告</span></a></li>
                        <li><a href="/activity"><span>景区活动</span></a></li>
                        <li><a href="/new"><span>新闻动态</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><span>出行锦囊</span></a>
                    <ul>
                        <li><a href="/trip/strategy"><span>旅游攻略</span></a></li>
                        <li><a href="/trip/service"><span>景区服务</span></a></li>
                        <li><a href="/trip/traffic"><span>交通信息</span></a></li>
                    </ul>
                </li>
                <li lass="last"><a href='#'><span>会展</span></a></li>
            </ul>
            <!-- Navigation END -->
        </div>
    </div>
</div>
<!-- Header END -->